<!DOCTYPE html>
<html ng-app="lmeapp">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>IDE</title>
    <!-- Tell the browser to be responsive to screen width -->

    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="dist/css/AdminLTE.min.css">
    <link rel="stylesheet" href="dist/css/skins/_all-skins.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/pace/1.0.2/themes/black/pace-theme-flash.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
    <script type="application/javascript" src="resources/ai_MVO.js"></script>

    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="aceide.js"></script>
    <style>
        .panel-fullscreen {
            display: block;
            z-index: 9999;
            position: fixed;
            width: 100%;
            height: 100%;
            top: 0;
            right: 0;
            left: 0;
            bottom: 0;
            overflow: auto;
        }

        .chop {
            white-space: nowrap;
            text-overflow: ellipsis;
            display: inline-block;
        }

        .ui-autocomplete {
            max-height: 100px;
            width: 500px;
            overflow-y: auto;
            overflow-x: hidden;
            z-index: 2000;
        }
    </style>
</head>
<body class="hold-transition skin-blue sidebar-collapse sidebar-mini fixed" ng-controller="ideController">
<div class="wrapper" ng-controller="lmeController">

    <header class="main-header">
        <a href="#" class="logo">
            <span class="logo-mini"><b>l</b>me</span>
            <span class="logo-lg"><b>LME</b> IDE</span>
        </a>
        <nav class="navbar navbar-static-top">
            <div class="navbar-custom-menu">
                <div class="col-xs-4">
                    <a href="#" class="sidebar-toggle col-xs-1" data-toggle="push-menu" role="button">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </a>
                    <div class="input-group" style="padding-top: 5px">
                        <span class="input-group-addon"><i class="fa fa-code-fork"></i></span>
                        <input id="tags" type="email" class="form-control" placeholder="refs/head/master">
                    </div>
                </div>
                <div class="col-xs-4" style="padding-top: 5px;">
                    <div class="input-group">
                        <input id="models" type="text" class="form-control" placeholder="KSP.ffl">
                        <span class="input-group-btn">
                                <button type="button" id="save-model" class="btn btn-info btn-flat">Save!</button></span>
                        <span class="input-group-btn">
                                <button type="button" id="preview-model" class="btn btn-info btn-flat">Preview!</button>
                        </span>
                    </div>
                </div>
                <div class="col-xs-4">
                    <ul class="nav navbar-nav" style="float: right">
                        <li class="dropdown messages-menu">

                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <i class="fa fa-envelope-o"></i>
                                <span class="label label-success">1</span>
                            </a>
                            <ul class="dropdown-menu">
                                <li class="header">You have 1 message</li>
                                <li>
                                    <a href="#">
                                        <h4>
                                            LME bot
                                            <small><i class="fa fa-clock-o"></i> 1 sec</small>
                                        </h4>
                                        <p>Try out jBehave tests</p>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="dropdown notifications-menu">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <i class="fa fa-bell-o"></i>
                                <span class="label label-warning">{{ session.messages.data.length }}</span>
                            </a>
                            <ul class="dropdown-menu">
                                <li class="header">You have {{ session.messages.data.length }} messages.</li>
                                <li ng-repeat="message in session.messages.data">
                                    <ul class="menu">
                                        <li>
                                            <a href="#">
                                                <i class="fa fa-users text-aqua"></i> {{message.text}}
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="footer"><a href="#"></a></li>
                            </ul>
                        </li>
                        <li class="dropdown user user-menu">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <img src="dist/img/user2-160x160.jpg" class="user-image" alt="User Image">
                                <span class="hidden-xs chop" style="max-width: 150px;max-height: 15px; overflow: hidden">{{session.user.name}} user</span>
                            </a>
                            <ul class="dropdown-menu">
                                <li class="user-header">
                                    <img src="dist/img/user2-160x160.jpg" class="img-circle" alt="User Image">
                                    <p>
                                        {{session.user.name}}
                                        <small>Member since Nov. 2012</small>
                                    </p>
                                </li>
                                <li class="user-footer">
                                    <div class="pull-right">
                                        <a href="#" class="btn btn-default btn-flat">Sign out</a>
                                    </div>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#" data-toggle="control-sidebar"><i class="fa fa-gears"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <aside class="main-sidebar">
        <section class="sidebar">
            <div class="user-panel">
                <div class="pull-left image">
                    <img src="dist/img/user2-160x160.jpg" class="img-circle" alt="User Image">
                </div>
                <div class="pull-left info">
                    <p>{{session.user.name}}</p>
                    <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
                </div>
            </div>
            <ul class="sidebar-menu" data-widget="tree">
                <li class="treeviwe active">
                    <a href="#" class="data-toggle-ide" data-toggle="tooltip" title="run debug on caret">
                        <i class="fa fa-subscript"></i> <span>IDE</span>
                    </a>
                </li>
                <li class="treeview">
                    <a class="data-story" href="#" data-toggle="tooltip" title="jBehave tests">
                        <i class="fa fa-heartbeat"></i> <span>Tests</span>
                    </a>
            </ul>
        </section>
    </aside>
    <div class="content-wrapper">
        <section class="content">
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title">
                        <button type="button" class="toggle-debug-btn btn bg-green btn-sm" data-toggle="tooltip" title="run debug on caret"><i class="fa fa-repeat"></i></button>
                    </h3>
                    <h3 class="box-title">
                        <button type="button" class="toggle-info-btn btn bg-green btn-sm" data-toggle="tooltip" title="switch economic/ffl mode"><i class="fa fa-superpowers"></i></button>
                    </h3>
                    <h3 class="box-title">
                        <button type="button" class="toggle-properties-btn btn bg-green btn-sm" data-toggle="tooltip" title="show visible, locked, required"><i class="fa fa fa-sliders"></i></button>
                    </h3>
                    <h3 class="box-title">
                        <button type="button" ng-click="saveData()" class="toggle-save-btn btn bg-green btn-sm" data-toggle="tooltip" title="save entered values"><i class="fa fa fa-save"></i></button>
                    </h3>
                    <h3 class="box-title">
                        <button type="button" class="toggle-temp_preview-btn btn bg-green btn-sm" data-toggle="tooltip" title="Preview current model"><i class="fa fa-window-restore"></i></button>
                    </h3>
                    <h3 class="box-title">
                        <button ng-click="runJBehaveTest()" type="button" class="toggle-test-btn btn bg-green btn-sm" data-toggle="tooltip" title="run jBehave tests"><i class="fa fa-list"></i></button>
                    </h3>
                    <div class="box-tools pull-right">
                        <button type="button" class="toggle-expand-btn btn bg-yellow btn-sm" data-toggle="tooltip" title="Expand"><i class="fa fa-expand"></i></button>
                    </div>
                </div>
                <div class="box-body">
                    <pre id="editor"></pre>
                </div>
            </div>
        </section>
    </div>
    <footer class="main-footer">
        <div class="pull-right hidden-xs">
            <b>Version</b> 0.0.2
        </div>
        <strong>Copyright &copy; 2014-2017 <a href="#">Michael Bakker</a>.</strong> All rights reserved.
    </footer>

    <aside class="control-sidebar control-sidebar-dark">
        <ul class="nav nav-tabs nav-justified control-sidebar-tabs">
            <li><a href="#control-sidebar-home-tab" data-toggle="tab"><i class="fa fa-home"></i></a></li>
            <li><a href="#control-sidebar-settings-tab" data-toggle="tab"><i class="fa fa-gears"></i></a></li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane" id="control-sidebar-home-tab">
                <h3 class="control-sidebar-heading">Recent Activity</h3>
                <ul class="control-sidebar-menu">
                    <li>
                        <a href="javascript:void(0)">
                            <i class="menu-icon fa fa-birthday-cake bg-red"></i>
                            <div class="menu-info">
                                <h4 class="control-sidebar-subheading">Langdon's Birthday</h4>
                                <p>Will be 23 on April 24th</p>
                            </div>
                        </a>
                    </li>
                </ul>
                <h3 class="control-sidebar-heading">Tasks Progress</h3>
            </div>
        </div>
    </aside>
    <div class="control-sidebar-bg"></div>
</div>


<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="bower_components/jquery-slimscroll/jquery.slimscroll.min.js"></script>
<script src="bower_components/fastclick/lib/fastclick.js"></script>
<script src="dist/js/adminlte.min.js"></script>
<script src="dist/js/demo.js"></script>
<script src="ace-builds/src-min/ace.js"></script>
<script src="ace-builds/src-min/ext-language_tools.js"></script>

<script src="javascripts/fflmode.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pace/1.0.2/pace.min.js"></script>

</body>
</html>
