<!DOCTYPE html>
<html ng-app="angapp">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>LME | Showcase</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="bower_components/Ionicons/css/ionicons.min.css">
    <link rel="stylesheet" href="dist/css/AdminLTE.min.css">
    <link rel="stylesheet" href="dist/css/skins/_all-skins.min.css">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.6/angular.min.js"></script>
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <style>.content-wrapper, .main-footer {
        margin-left: 0px;
    }</style>
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
</head>
<body class="hold-transition skin-blue sidebar-mini" ng-controller="lmeController">
<div class="wrapper">
    <div class="content-wrapper">
        <section class="content">
            <div class="row">
                <div class="col-md-12">
                    <div class="box box-info">
                        <div class="box-header with-border">
                            <a class="btn btn-success btn-sm ad-click-event" ng-click="loadFFL(formulaExample)">load ffl</a>
                            <h3 class="box-title">Formula example</h3>
                            <div class="box-tools pull-right">
                                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                                <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                            </div>
                        </div>
                        <div class="box-body">
                            <div class="box-body no-padding">
                                <div class="row">
                                    <div class="col-md-5 col-sm-5">
                                        <div class="pad">
                                            <pre ng-model="memoFFL">{{formulaExample}}</pre>
                                        </div>
                                    </div>
                                    <div class="col-md-5 col-sm-5">
                                        <label>{{LEASE_CALCULATOR.title}}</label>
                                        <input ng-model="LEASE_CALCULATOR.value" class="form-control" placeholder=".."/>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="box box-info">
                        <div class="box-header with-border">
                            <a class="btn btn-success btn-sm ad-click-event" ng-click="loadFFL(memoFFL)">load ffl</a>
                            <h3 class="box-title">Memo</h3>
                            <div class="box-tools pull-right">
                                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                                <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                            </div>
                        </div>
                        <div class="box-body">
                            <div class="box-body no-padding">
                                <div class="row">
                                    <div class="col-md-5 col-sm-5">
                                        <div class="pad">
                                            <pre ng-model="memoFFL">{{memoFFL}}</pre>
                                        </div>
                                    </div>
                                    <div class="col-md-5 col-sm-5">
                                        <label ng-bind="LEASE_DETAILS.title">Lease information</label>
                                        <textarea rows=6 class="form-control" ng-model="LEASE_DETAILS.value" placeholder=".."></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="box-footer clearfix"></div>
                    </div>
                    <div class="box box-info">
                        <div class="box-header with-border">
                            <a class="btn btn-success btn-sm ad-click-event" ng-click="loadFFL(calculateExample)">load ffl</a>
                            <h3 class="box-title">Calculate example</h3>
                            <div class="box-tools pull-right">
                                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                                <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                            </div>
                        </div>
                        <div class="box-body">
                            <div class="box-body no-padding">
                                <div class="row">
                                    <div class="col-md-5 col-sm-5">
                                        <div class="pad">
                                            <textarea class="form-control" rows="12" ng-model="calculateExample"></textarea>
                                        </div>
                                    </div>
                                    <div class="col-md-5 col-sm-5">
                                        <label ng-bind="LEASE_AMMOUNT.title"></label>
                                        <input ng-model="LEASE_AMMOUNT.value" class="form-control" placeholder=".."/>
                                        <label ng-bind="LEASE_TOTAL.title"></label>
                                        <span class="form-control" ng-bind="LEASE_TOTAL.value">..</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="box-footer clearfix"></div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <footer class="main-footer">
        <div class="pull-right hidden-xs">
            <b>Version</b> 1.0.1
        </div>
        <strong>Credits &copy; 2017 <a>Michael Bakker</a>.</strong>
    </footer>
</div>
<script src="bower_components/jquery/dist/jquery.min.js"></script>
<script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="bower_components/fastclick/lib/fastclick.js"></script>
<script src="dist/js/adminlte.min.js"></script>
<script src="bower_components/jquery-sparkline/dist/jquery.sparkline.min.js"></script>
<script src="bower_components/jquery-slimscroll/jquery.slimscroll.min.js"></script>
<script src="dist/js/demo.js"></script>
<script src="engineonly.js"></script>
<script src="uishowcase.js"></script>
</body>
</html>