<html ng-app="app">
<head>
    <link rel="stylesheet" href="/bower_components/bootstrap-css/css/bootstrap.css">
    <!-- Custom CSS -->
    <link href="/dist/sb-admin-2.css" rel="stylesheet">

    <script type="text/javascript" src="/bower_components/angular/angular.min.js"></script>
    <script type="text/javascript" src="/bower_components/angular-vs-repeat/src/angular-vs-repeat.js"></script>
    <style>

        .repeater-container {
            height: 100%;
            overflow: auto;
        }

        th {
            width: 10%;
        }

        table input {
            width: 100%;
            font-size: 14px;
            line-height: 1.42857143;
            color: #555;
            background-color: #fff;
            background-image: none;
            border: 1px solid #ccc;
        }
    </style>
    <script>
        var APP = angular.module('app', ['vs-repeat']);
        APP.controller('appController', ['$timeout', '$scope', '$http', '$location', function ($timeout, $scope, $http, $location)
        {
            var uiElements = [{
                rowId: 'DUMMY_A_value',
                index: 0
            }];
            $scope.getValue = function (val)
            {
                if (uiElements[val.index])
                {
                    return uiElements[val.index].rowId;
                }
                return val.val;
            }
            $scope.changeValue = function (val)
            {
                console.info('can be expensive')
            }
            $scope.vs_collection = []
            for (var i = 0; i < 1000; i++)
            {
                $scope.vs_collection.push({val: '' + i, index: i});
            }
            $scope.columns = [1, 2, 3, 4, 5, 6, 7, 8, 9]
        }]);
    </script>
</head>
<body ng-controller="appController">
<div id="wrapper">
    <!-- /.navbar-header -->
    <div class="navbar navbar-default navbar-static-top">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand">FesJS v1.0</a>
        </div>
    </div>
    <div id="page-wrapper" class="expanded">
        <div class="container-fluid">
            <div class="repeater-container" id="con">
                <table style="width: 100%">
                    <thead>
                    <th></th>
                    <th ng-repeat="col in columns">{{col}}</th>
                    </tr>
                    </thead>
                    <tbody vs-repeat vs-scroll-parent=".repeater-container">
                    <tr ng-repeat="item in vs_collection">
                        <td>{{item.val}}</td>
                        <td ng-repeat="col in columns">
                            <input ng-bind="getValue(item)" ng-change="changeValue(item)" ng-model="item.val" ng-model-options="{  getterSetter: true, updateOn: 'blur' }"/>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
</body>
</html>