<style type="text/css">
    .angular-ui-tree-handle {
        background: white;
        border: 1px solid #dae2ea;
        padding: 10px 10px;
    }

    .angular-ui-tree-handle:hover {
        background: white;
        border-color: #dce2e8;
    }

    .angular-ui-tree-placeholder {
        background: white;
        border: 2px dashed #bed2db;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }

    tr.angular-ui-tree-empty {
        height: 100px
    }

    .group-title {
        background-color: #687074 !important;
        color: #FFF !important;
    }

    .nodrop {
        background-color: #f2dede;
    }

    .tree-node-content {
    }

    .tree-handle {
        padding: 10px;
        background: #428bca;
        color: #FFF;
        margin-right: 10px;
    }

    .angular-ui-tree-handle:hover {
    }

    .angular-ui-tree-placeholder {
        background: white;
        border: 2px dashed #bed2db;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }

    .angular-ui-tree {
    }

    .angular-ui-tree-empty {
        border: 1px dashed #bbb;
        min-height: 100px;
        background-color: #e5e5e5;
        background-image: -webkit-linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff), -webkit-linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff);
        background-image: -moz-linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff), -moz-linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff);
        background-image: linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff), linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff);
        background-size: 60px 60px;
        background-position: 0 0, 30px 30px;
    }

    .angular-ui-tree-nodes {
        position: relative;
        margin: 0;
        padding: 0;
        list-style: none;
    }

    .angular-ui-tree-nodes .angular-ui-tree-nodes {
        padding-left: 20px;
    }

    .angular-ui-tree-node, .angular-ui-tree-placeholder {
        position: relative;
        margin: 0;
        padding: 0;
        min-height: 20px;
        line-height: 20px;
    }

    .angular-ui-tree-hidden {
        display: none;
    }

    select {
        max-width: 100px;
    }

    .angular-ui-tree-placeholder {
        margin: 5px 0;
        padding: 0;
        min-height: 30px;
    }

    .angular-ui-tree-handle {
        cursor: move;
        text-decoration: none;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        min-height: 15px;
        line-height: 15px;
    }

    .angular-ui-tree-drag {
        position: absolute;
        pointer-events: none;
        z-index: 999;
        opacity: .8;
    }

    .question {
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        display: block;
    }

    select {
        min-width: 100%;
    }

    a[ng-click] {
        cursor: pointer;
    }

    #navtree .angular-ui-tree-handle {
        border: none;
        border-bottom: 1px solid #dae2ea;
        padding: 8px 10px;
    }
</style>
<div class="container-fluid" ng-controller="formbuilder">
    <div class="spacer"></div>
    <div class="col-sm-12">
        <script type="text/ng-template" id="nodes_renderer.html">
            <a style="margin-right: -10px;margin-top: -10px;padding: 6px 10px;" class="pull-right btn btn-success btn topbutton" data-nodrag ng-click="setNode(node)" ng-init="row = presentation.getNode(node.rowId)"><span class="fa fa-edit"></span></a>
            <div ui-tree-handle class="tree-node tree-node-content" ng-init="node._collapsed = node._loaded ? node._collapsed:level  >= 1; node._loaded=true">
                <div ng-if="row.isLeaf()" style="display: block" ng-include src="'../src/archive/clientscorecard/nodes_form_renderer.html'" ng-init="row = row"></div>
                <a ng-if="!row.isLeaf()" class="btn btn-success btn-xs" data-nodrag ng-click="doToggle(node)"><span class="glyphicon" ng-class="{'glyphicon-chevron-right': node._collapsed, 'glyphicon-chevron-down': !node._collapsed }"></span></a>

                <span ng-if="!row.isLeaf()">{{row.title}}</span>
                <json-editor data-nodrag ng-if="row.rowId === myStartVal.rowId" data-nodrag schema="mySchema" startval="myStartVal" on-change="propertyEditorChange($editorValue)"></json-editor>
            </div>
            <ol ng-if="!node._collapsed" ui-tree-nodes="" ng-model="node.nodes" ng-class="{hidden: node._collapsed}">
                <li ng-repeat="nodeName in node.nodes" ui-tree-node ng-include="'nodes_renderer.html'" ng-init="level = level + 1; node = find(nodeName)"></li>
            </ol>
        </script>
        <!--NEW STYLE, using presentation for this-->
        <script type="text/ng-template" id="presentation.html">
            <div ng-init="totalShow = calcTotalShow(totalShow, node)" class="tree-node tree-node-content angular-ui-tree-handle" ng-click="event.stopImmediatePropagation();rootNodePath(node.rowId);">
                <a ng-if="!node.isLeaf()" class="btn btn-success btn-xs" ng-click="$event.stopPropagation();node._Tcollapsed = expanded(totalShow,node)"><span class="glyphicon" ng-class="{'glyphicon-chevron-right': !expanded(totalShow,node), 'glyphicon-chevron-down': expanded(totalShow,node) }"></span></a>
                <span>{{node.rowId}}</span>

                <a class="pull-right btn btn-danger btn-xs" ng-click="$event.stopPropagation();node.delete()"><span class="glyphicon glyphicon-remove"></span></a>
                <a class="pull-right btn btn-primary btn-xs" ng-click="$event.stopPropagation();node.duplicate()" style="margin-right: 8px;"><span class="glyphicon glyphicon-plus"></span></a>
                <span style="float: right;padding-right: 10px;"><b>{{node.title}}</b></span>
            </div>
            <ol ng-if="expanded(totalShow,node)" class="angular-ui-tree-nodes" ng-class="{hidden: node._Tcollapsed}">
                <li class="angular-ui-tree-node" ng-repeat="child in node.nodes | orderBy:'_index'" ng-include="'presentation.html'" ng-init="totalShow = totalShow;node=child;"></li>
            </ol>
        </script>

        <div class="row">
            <ol id="navtree" class="col-sm-6 angular-ui-tree angular-ui-tree-nodes">
                <li ng-repeat="child in presentation.nodes" class="tree-node tree-node-content" ng-include="'presentation.html'" ng-init="node=child;totalShow = calcTotalShow(50,presentation);"></li>
            </ol>
            <div class="col-sm-6" ui-tree="uiModelTree" id="tree-side" data-drag-delay="100">
                <ol ui-tree-nodes ng-model="uimodelroot.nodes">
                    <li ng-repeat="nodeName in uimodelroot.nodes" ui-tree-node ng-include="'nodes_renderer.html'" ng-init="level =0;node=find(nodeName)"></li>
                </ol>
            </div>
        </div>
    </div>
</div>