<html lang="en" class="" ng-app="angapp">
<head>
    <meta charset="utf-8">
    <title>Wat kost een kind?</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.6/angular.min.js"></script>
    <script src="monli.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="bootstrap.min.js"></script>
    <base href="/">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="icon" type="image/x-icon" href="monli.ico">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.css">
    <script src="https://code.highcharts.com/stock/highstock.src.js"></script>
    <script src="https://code.highcharts.com/highcharts-more.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highcharts-ng/1.1.0/highcharts-ng.min.js"></script>
    <link rel="stylesheet" href="monli.css"></link>
</head>
<body ng-controller="lmeController">

<div class="">
    <div class="ui top fixed menu">
        <div class="ui container">
            <a class="item mobile-shown">
                <i class="sidebar icon margin-0"></i>
            </a>
            <div class="item">
                <img class="ui tiny image" src="../angular-demo/logo-monli.svg">
            </div>
            <a class="item mobile-hidden" href="https://www.monli.nl/over-monli">
                over Monli
            </a>
            <a class="item mobile-hidden" href="https://www.monli.nl/">
                naar Monli
            </a>
        </div>
    </div>
    <div _ngcontent-c1 class="content">
        <div class="ui right aligned three column grid">
            <div class="row">
                <div class="column">
                </div>
                <div class="column">
                    <div class="ui vertical fluid menu">
                        <div class="column no-top-padding">
                            <app-main-image><img _ngcontent-c6="" class="ui fluid image rounded" src="wat_kost_een_studie_header.jpg">
                                <h1 _ngcontent-c6="" class="ui inverted header">Wat kost een kind?</h1>
                            </app-main-image>
                            <app-info-text _ngcontent-c6="">
                                <div class="header-quote">
                                    <p>
                                        Het klinkt een beetje cru, maar het is best goed om te weten
                                        <br>
                                        Monli helpt je met de berekening
                                    </p>
                                </div>
                            </app-info-text>
                        </div>
                    </div>
                    <div class="field">
                        <label>{{IncomeParent01.title}}</label>
                        <div class="ui labeled fluid input">
                            <div class="ui teal label">€</div>
                            <input ng-model="IncomeParent01.value" currencymask="" placeholder="3000" style="text-align: right;">
                        </div>
                    </div>
                    <div class="field">
                        <label>{{WorkingHoursWeeklyParent01.title}}</label>
                        <div class="ui labeled fluid input">
                            <input ng-model="WorkingHoursWeeklyParent01.value" placeholder="36" style="text-align: right;">
                        </div>
                    </div>
                    <div class="ui checkbox">
                        <input type="checkbox" name="IncomeParent01" ng-model="IncomeParent02visible" ng-checked="IncomeParent02visible">
                        <label>{{IncomeParent02.title}}</label>
                    </div>
                    <div class="field" ng-if="IncomeParent02visible">
                        <div class="ui labeled fluid input">
                            <div class="ui teal label">€</div>
                            <input ng-model="IncomeParent02.value" currencymask="" placeholder="0" style="text-align: right;">
                        </div>
                    </div>
                    <div class="field" ng-if="IncomeParent02visible">
                        <label>{{WorkingHoursWeeklyParent02.title}}</label>
                        <div class="ui labeled fluid input">
                            <input ng-model="WorkingHoursWeeklyParent02.value" placeholder="0" style="text-align: right;">
                        </div>
                    </div>
                    <div class="field">
                        <span><i ng-if="ChildGender.hint" class="fa fa-info-circle" data-content="{{ChildGender.hint}}" data-trigger="click" data-original-title="{{ChildGender.title}}" data-toggle="popover"></i></span>
                    </div>
                    <div class="two ui buttons">
                        <button ng-click="changeChoice(ChildGender,sex)" class="ui button {{ChildGender.value == sex.name ? 'active' : ''}}" ng-repeat="sex in ChildGender.choices">{{sex.value}}</button>
                    </div>
                    <div class="field">
                        <div class="chart-responsive">
                            <highchart config="{
                    chart: {
                     type: 'column'
                    },
                    title: false,
                    tooltip: {
                         pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
                    },
                    plotOptions: {
                        pie: {
                            allowPointSelect: true,
                            cursor: 'pointer',
                            dataLabels: {
                                enabled: true,
                                format: '{point.name}',
                                style: {
                                    color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                                }
                            },
                            showInLegend: true
                        }
                    },
                    credits:false,
                    xAxis: {
                        categories: ['a','b','c']
                    },
                    series: [{
                        name : 'Quantity',
                        data : [ChildCareCosts.value]
                    }]
                }"></highchart>
                        </div>
                    </div>
                </div>
                <div class="column">
                </div>
            </div>
        </div>
    </div>
    <app-footer>
        <div class="ui center aligned middle aligned three column stackable grid container">
            <div class="one column row">
                <div class="column">
                    <div class="ui divider"></div>
                </div>
            </div>
            <div class="tablet only computer only column">
                <div class="ui four column grid">
                    <div class="column"><a href="https://www.monli.nl/">Monli.nl</a></div>
                    <div class="column"><a href="https://www.monli.nl/gezin/">Gezin</a></div>
                    <div class="column"><a href="https://www.monli.nl/wonen/">Wonen</a></div>
                    <div class="column"><a href="https://www.monli.nl/pensioen/">Pensoen</a></div>

                </div>
            </div>
            <div class="column">
                <h3 class="ui header">Monli</h3>
                <p>Zelf de keuzes maken</p>
            </div>
            <div class="column">
                <button class="ui circular facebook icon button">
                    <i class="facebook icon"></i>
                </button>
                <button class="ui circular twitter icon button">
                    <i class="twitter icon"></i>
                </button>
            </div>
            <div class="mobile only column">
                <div class="ui four column grid">
                    <div class="column"><a href="https://www.monli.nl/">Monli.nl</a></div>
                    <div class="column"><a href="https://www.monli.nl/gezin/">Gezin</a></div>
                    <div class="column"><a href="https://www.monli.nl/wonen/">Wonen</a></div>
                    <div class="column"><a href="https://www.monli.nl/pensioen/">Pensoen</a></div>
                </div>
            </div>
        </div>
    </app-footer>
</div>
</body>
</html>