<!DOCTYPE html>
<html lang="en" ng-app="angularapp">
<head>
    <meta charset="UTF-8">
    <title>Showcase demo</title>
    <link type="text/css" href="style/fresh.css" rel="stylesheet">
    <link type="text/css" href="style/style.css" rel="stylesheet">

    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/highcharts-more.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>

<!--    <script type="application/javascript" src="http://blfif-tv-tr03.finance.lab:8080/json/ai_MVO.js"></script>-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.6/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-filter/0.5.17/angular-filter.min.js"></script>


    <script type="application/javascript" src="scripts.js"></script>

</head>
<body ng-controller="myController">

    <div class="header">
        <div class="header--top">
            <div class="header--usermenu">
                <ul>
                    <li ng-click="saveData()" class="usermenu-item-copy">
                        <i class="icon-save"></i>
                        <span class="usermenu-icon"></span>
                        Save
                    </li>
                    <li class="usermenu-item-search">
                            Username
                    </li>
                    <li class="usermenu-item-party">
                        <span class="usermenu-icon"></span>
                        <span>YourBank</span>
                    </li>

                    <li class="usermenu-item-logout">
                        <a>
                            <span class="usermenu-icon"></span> Uitloggen
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="column column-4">
        <div class="column--item">
            <div class="panel">
                <ul class="steps steps-vertical steps-left">
                    <li class="" ng-repeat="f in LME_MODEL | pick:'children.length > 1 &amp;&amp; path.endsWith(\'Q_ROOT\')'" ng-if="f.visible" ng-click="changeSearch(f)">
                        <a class="step--container">
                            <div class="step--icon-wrapper">
                                <div class="step--icon">
                                    <span class="icon icon-check"></span>
                                </div>
                            </div>
                            <div class="step--content">
                                <h3  ng-bind="f.title">Step 1</h3>
                                <p>State success</p>
                            </div>
                        </a>
                    </li>
                </ul>

             </div>
        </div>

        <div class="column--item two-quarter">
            <div class="panel">
                <div class="hint-popover" ng-show="popOverHint.visible" style="top: {{popOverHint.top}}; left: {{popOverHint.left}};">{{popOverHint.message}}</div>

                <div ng-repeat="question in LME_MODEL | fuzzyBy: 'path': search" ng-if="question.visible">
                    <div class="form-item" id="{{question.id}}">
                        <label for="" ng-class="question.required ? 'required' : ''" ng-click="showJson(question);">{{question.type}} - {{question.title}}</label>


                        <span class="icon" ng-attr-class="{{ question.hint ? 'icon icon-info' : 'icon' }}" id="{{question.id + 'hint'}}" ng-mouseover="showHint(true,question, $event);" ng-mouseleave="showHint(false,question, this);">
                        </span>
                        <span class="icon"></span>

                        <div class="answer-wrapper">
                        <!-- not locked -->
                            <div class="answer" ng-switch on="question.type" ng-if="!question.locked">

                                <div ng-switch-when="radio" class="radio">
                                    <input id="{{question.id + 'choice' + $index + 'A'}}" name="{{question.id + 'choice' + $index}}" ng-model="question.value" type="radio" value="0" >
                                    <label for="{{question.id + 'choice' + $index + 'A'}}" ng-attr-class="{{ question.value == 0 ? 'checked' : '' }}">no</label>
                                    <input id="{{question.id + 'choice' + $index + 'B'}}" name="{{question.id + 'choice' + $index}}" ng-model="question.value" type="radio" value="1" >
                                    <label for="{{question.id + 'choice' + $index + 'B'}}" ng-attr-class="{{ question.value == 1 ? 'checked' : '' }}">yes</label>
                                </div>

                                <div ng-switch-when="memo" class="input">
                                    <textarea ng-model="question.value"></textarea>
                                </div>


                                <div ng-switch-default class="input">
                                    <input ng-model="question.value" type="text">
                                </div>
                                <span class="icon"></span>
                            </div>

                        <!-- Read only -->
                            <div class="answer" ng-if="question.locked">
                                <div class="input read-only">
                                    <span>{{question.value}}</span>
                                </div>
                                <span class="icon"></span>
                            </div>
                        </div>
                    </div>
                </div>
             </div>
        </div>
        <div class="column--item">
            <div style="position:fixed;" id="container1"></div>
        </div>
    </div>

    <div class="json-container" ng-show="json"> <pre id="prestuff"></pre></div>



</body>
</html>