{
  "presets": [
    "env",
    "stage-2"
  ],
  "plugins": [
    [
      "inline-json-import",
      {}
    ],
    [
      "transform-runtime",
      {
        "polyfill": false,
        "regenerator": true
      }
    ]
  ]
}