<?xml version="1.0" encoding="utf-8"?>
<reports>

	<!--
		Hieronder kun je hoofdstukken (chapters) definieren die te gebruiken zijn in rapportage definities (definitions)
		Hoofdstukken bestaan uit tenminste 1 sectie (section)
		Hoofdstukken zijn te hergebruiken over rapportages en kunnen secties van elkaar overerven (door extends te gebruiken)
	-->

	<chapter id="5minAlgemeen" code="blok0" description="chapter_general">
		<section code="Details" description="section_details" comments="false" default="true"/>
		<section code="Preface" description="section_preface" comments="true" default="false"/>
		<section code="Offer" description="section_offer" comments="true" default="false"/>
		<section code="TableOfContents" description="section_toc" comments="false" default="true"/>
		<section code="Introduction" description="section_introduction" comments="true" default="false"/>
		<section code="Remarks" description="section_comments" comments="true" default="false"/>
	</chapter>

	<chapter id="5minFinancieel" code="blok1" description="chapter_financial">
		<section code="Block1A" description="section_income" comments="true" default="true"/>
		<section code="Block1B" description="section_costs" comments="true" default="true"/>
		<section code="Block1C" description="section_profit" comments="true" default="true"/>
		<section code="Block1D" description="section_rentability" comments="true" default="false"/>
		<section code="Block1E" description="section_breakeven" comments="true" default="false"/>
	</chapter>

	<chapter id="5minRatios" code="blok2" description="chapter_5minratios">
		<section code="Block2A" description="section_customerspecific" comments="true" default="false"/>
		<section code="Block2B" description="section_inventoryturnaround" comments="true" default="false"/>
		<section code="Block2C" description="section_productivity" comments="true" default="false"/>
	</chapter>

	<chapter id="5minKengetallen" code="blok3" description="chapter_5minliqratios">
		<section code="Block3A" description="section_quickcurrent" comments="true" default="false"/>
		<section code="Block3D" description="section_networthobligations" comments="true" default="false"/>
		<section code="Block3E" description="section_liabilities" comments="true" default="true"/>
		<section code="Block3F" description="section_shorttermliabilities" comments="true" default="false"/>
		<section code="Block3G" description="section_solvability" comments="true" default="true"/>
		<section code="Block3I" description="section_liquiditycurrentaccount" comments="true" default="false"/>
	</chapter>

	<chapter id="5minOverig" code="blok4" description="chapter_other">
		<section code="FinancialOverview" description="section_5minsummary" comments="false" default="true"/>
	</chapter>

	<chapter id="extendedAlgemeen" extends="5minAlgemeen">
		<section code="Samenstel" description="section_declaration" comments="true" default="false"/>
		<section code="Valuation" description="section_valutiongrounds" comments="true" default="false"/>
	</chapter>

	<chapter id="extendedBalans" code="blok1" description="chapter_balance">
		<section code="GraphAssets" description="section_graphassets" comments="true" default="false"/>
		<section code="GraphNetWorth" description="section_graphnetworth" comments="true" default="false"/>
		<section code="GraphLiability" description="section_graphliability" comments="true" default="false"/>
		<section code="BalanceSheetAssets" description="section_assetsyear" comments="true" default="true"/>
		<section code="BalanceSheetEquityAndLiabilities" description="section_equityyear" comments="true" default="true"/>
		<section excludeColumnFrequency="FINANCIAL_YEAR" excludeTimebase="FOURWEEKS" code="QuarterlyBalanceSheetAssets1" description="section_assetsquarterfirst" comments="true" default="false"/>
		<section excludeColumnFrequency="FINANCIAL_YEAR" excludeTimebase="FOURWEEKS" code="QuarterlyBalanceSheetEquityAndLiabilities1" description="section_equityquarterfirst" comments="true" default="false"/>
		<section excludeColumnFrequency="FINANCIAL_YEAR" excludeTimebase="FOURWEEKS" code="QuarterlyBalanceSheetAssets2" description="section_assetsquartersecond" comments="true" default="false"/>
		<section excludeColumnFrequency="FINANCIAL_YEAR" excludeTimebase="FOURWEEKS" code="QuarterlyBalanceSheetEquityAndLiabilities2" description="section_equityquartersecond" comments="true" default="false"/>
		<section excludeColumnFrequency="FINANCIAL_YEAR" code="MonthlyBalanceSheetAssets1" description="section_assetsperiodfirst" comments="true" default="false"/>
		<section excludeColumnFrequency="FINANCIAL_YEAR" code="MonthlyBalanceSheetEquityAndLiabilities1" description="section_equityperiodfirst" comments="true" default="false"/>
		<section excludeColumnFrequency="FINANCIAL_YEAR" code="MonthlyBalanceSheetAssets2" description="section_assetsperiodsecond" comments="true" default="false"/>
		<section excludeColumnFrequency="FINANCIAL_YEAR" code="MonthlyBalanceSheetEquityAndLiabilities2" description="section_equityperiodsecond" comments="true" default="false"/>
	</chapter>

	<chapter id="extendedResultaat" code="blok2" description="chapter_result">
		<section code="GraphSales" description="section_graphsales" comments="true" default="false"/>
		<section code="GraphCosts" description="section_graphcosts" comments="true" default="false"/>
		<section code="GraphResult" description="section_graphresult" comments="true" default="false"/>
		<section code="GraphBreakEven" description="section_graphbreakeven" comments="true" default="false"/>
		<section code="IncomeStatement" description="section_resultyear" comments="true" default="true"/>
		<section code="SpecificIncomeStatement" description="section_resultspecificationyear" comments="true" default="false"/>
		<section excludeColumnFrequency="FINANCIAL_YEAR" excludeTimebase="FOURWEEKS" code="QuarterlyIncomeStatement1" description="section_resultquarterfirst" comments="true" default="false"/>
		<section excludeColumnFrequency="FINANCIAL_YEAR" excludeTimebase="FOURWEEKS" code="QuarterlySpecificIncomeStatement1" description="section_resultspecificationquarterfirst" comments="true" default="false"/>
		<section excludeColumnFrequency="FINANCIAL_YEAR" excludeTimebase="FOURWEEKS" code="QuarterlyIncomeStatement2" description="section_resultquartersecond" comments="true" default="false"/>
		<section excludeColumnFrequency="FINANCIAL_YEAR" excludeTimebase="FOURWEEKS" code="QuarterlySpecificIncomeStatement2" description="section_resultspecificationquartersecond" comments="true" default="false"/>
		<section excludeColumnFrequency="FINANCIAL_YEAR" code="MonthlyIncomeStatement1" description="section_resultperiodfirst" comments="true" default="false"/>
		<section excludeColumnFrequency="FINANCIAL_YEAR" code="MonthlySpecificIncomeStatement1" description="section_resultspecificationperiodfirst" comments="true" default="false"/>
		<section excludeColumnFrequency="FINANCIAL_YEAR" code="MonthlyIncomeStatement2" description="section_resultperiodsecond" comments="true" default="false"/>
		<section excludeColumnFrequency="FINANCIAL_YEAR" code="MonthlySpecificIncomeStatement2" description="section_resultspecificationperiodsecond" comments="true" default="false"/>
		<section code="NetWorthReconciliation" description="section_reconciliation" comments="true" default="true"/>
	</chapter>

	<chapter id="extendedLiquiditeit" code="blok3" description="chapter_liquidity">
		<section code="CashflowStatement" description="section_cashflowyear" comments="true" default="false"/>
		<section excludeColumnFrequency="FINANCIAL_YEAR" excludeTimebase="FOURWEEKS" code="QuarterlyCashflowStatement1" description="section_cashflowquarterfirst" comments="true" default="false"/>
		<section excludeColumnFrequency="FINANCIAL_YEAR" excludeTimebase="FOURWEEKS" code="QuarterlyCashflowStatement2" description="section_cashflowquartersecond" comments="true" default="false"/>
		<section excludeColumnFrequency="FINANCIAL_YEAR" code="MonthlyCashflowStatement1" description="section_cashflowperiodfirst" comments="true" default="false"/>
		<section excludeColumnFrequency="FINANCIAL_YEAR" code="MonthlyCashflowStatement2" description="section_cashflowperiodsecond" comments="true" default="false"/>
		<section code="InvestmentsAndFinancingPlan" description="section_investfinanceyear" comments="true" default="false"/>
		<section excludeColumnFrequency="FINANCIAL_YEAR" excludeTimebase="FOURWEEKS" code="QuarterlyInvestmentsAndFinancingPlan1" description="section_investfinancequarterfirst" comments="true" default="false"/>
		<section excludeColumnFrequency="FINANCIAL_YEAR" excludeTimebase="FOURWEEKS" code="QuarterlyInvestmentsAndFinancingPlan2" description="section_investfinancequartersecond" comments="true" default="false"/>
		<section excludeColumnFrequency="FINANCIAL_YEAR" code="MonthlyInvestmentsAndFinancingPlan1" description="section_investfinanceperiodfirst" comments="true" default="false"/>
		<section excludeColumnFrequency="FINANCIAL_YEAR" code="MonthlyInvestmentsAndFinancingPlan2" description="section_investfinanceperiodsecond" comments="true" default="false"/>
		<section code="GraphLiquidity" description="section_graphliquidity" comments="true" default="false"/>
		<section code="LiquidityStatement" description="section_liquidityyear" comments="true" default="false"/>
		<section excludeColumnFrequency="FINANCIAL_YEAR" excludeTimebase="FOURWEEKS" code="QuarterlyLiquidityStatement1" description="section_liquidityquarterfirst" comments="true" default="false"/>
		<section excludeColumnFrequency="FINANCIAL_YEAR" excludeTimebase="FOURWEEKS" code="QuarterlyLiquidityStatement2" description="section_liquidityquartersecond" comments="true" default="false"/>
		<section excludeColumnFrequency="FINANCIAL_YEAR" code="MonthlyLiquidityStatement1" description="section_liquidityperiodfirst" comments="true" default="false"/>
		<section excludeColumnFrequency="FINANCIAL_YEAR" code="MonthlyLiquidityStatement2" description="section_liquidityperiodsecond" comments="true" default="false"/>
	</chapter>

	<chapter id="extendedOverige" code="blok4" description="chapter_ratios">
		<section code="GraphROA" description="section_graphROA" comments="true" default="false"/>
		<section code="GraphCustomer" description="section_graphcustomer" comments="true" default="false"/>
		<section code="GraphRate" description="section_graphrate" comments="true" default="false"/>
		<section code="GraphEmployee" description="section_graphemployee" comments="true" default="false"/>
		<section code="GraphRatios" description="section_graphratios" comments="true" default="false"/>
		<section code="GraphSolvency" description="section_graphsolvency" comments="true" default="false"/>
		<section code="Ratios" description="section_ratios" comments="true" default="false"/>
		<section code="MostImportantRatios" description="section_importantratios" comments="true" default="false"/>
	</chapter>

<chapter id="toetsAlgemeen" code="blok0" description="chapter_general">
		<section code="Details" description="section_details" comments="false" default="false"/>
		<section code="Preface" description="section_preface" comments="true" default="false"/>
		<section code="Introduction" description="section_introduction" comments="true" default="true">
      <comments><![CDATA[Onder Wet vereenvoudiging en flexibilisering BV-recht zijn de kapitaalbeschermingsregels voor het bijeenhouden van kapitaal gewijzigd door de introductie van de balanstest en uitkeringstest.

Het bestuur krijgt met deze tests een grote verantwoordelijkheid bij het doen van een uitkering uit het vermogen. Het bestuur stelt met behulp van de balanstest vast dat een voorgenomen uitkering niet leidt tot een eigen vermogen dat kleiner wordt dan de wettelijke en statutaire niet uitkeerbare reserves.

Als de uitkering op grond van de balanstest mogelijk is, wordt de uitkeringstoets uitgevoerd. De uitkeringstest houdt in dat het bestuur beoordeelt of de vennootschap na het doen van een uitkering haar opeisbare schulden kan blijven voldoen. De test geldt voor alle situaties waarin de vennootschap vermogen uitkeert: bij uitkering van winst of reserves, bij terugbetaling op aandelen in het kader van een kapitaalvermindering en bij inkoop van eigen aandelen anders dan om niet.

Komt de vennootschap na de uitkering in ernstige betalingsproblemen, dan zijn de bestuurders die dit op het moment van uitkering wisten of redelijkerwijze behoorden te voorzien tegenover de vennootschap hoofdelijk aansprakelijk voor het tekort dat door de uitkering is ontstaan. Ook de ontvanger van de uitkering die dit op het moment van de uitkering wist of had kunnen voorzien, is aansprakelijk voor het tekort.

Om de uitkeringstest op een juiste manier uit te voeren moet in ieder geval de positie van de vennootschap na de geplande uitkering beoordeeld worden. Hierbij moet u de liquiditeit, de solvabiliteit en de rentabiliteit van de vennootschap beoordelen. Dit rapport geeft u de handvatten om het verloop van deze factoren op jaarbasis en periodebasis te beoordelen

Aan de hand van de uitkeringstest besluit het bestuur om het voorstel van de algemene vergadering van aandeelhouders voor het doen van een uitkering wel of niet goed te keuren. Het bestuur moet zijn goedkeuring weigeren als het op grond van de uitkeringstest (redelijk) zeker is dat de vennootschap in toekomstige betalingsproblemen zal komen. Als de uitkeringstest met succes is doorlopen, kan het bestuur zijn goedkeuring geven.]]></comments>
		</section>
	</chapter>

	<chapter id="toetsLiquiditeit" code="blok3" description="chapter_liquidity">
				<section code="LiquidityStatement" description="section_liquidityyear" comments="true" default="true"/>
				<section excludeColumnFrequency="FINANCIAL_YEAR" excludeTimebase="FOURWEEKS" code="QuarterlyLiquidityStatement1" description="section_liquidityquarterfirst" comments="true" default="false"/>
				<section excludeColumnFrequency="FINANCIAL_YEAR" excludeTimebase="FOURWEEKS" code="QuarterlyLiquidityStatement2" description="section_liquidityquartersecond" comments="true" default="false"/>
				<section excludeColumnFrequency="FINANCIAL_YEAR" code="MonthlyLiquidityStatement1" description="section_liquidityperiodfirst" comments="true" default="true"/>
				<section excludeColumnFrequency="FINANCIAL_YEAR" code="MonthlyLiquidityStatement2" description="section_liquidityperiodsecond" comments="true" default="true"/>
	</chapter>

	<chapter id="toetsKengetallen" code="blok4" description="chapter_ratios">
				<section code="Ratios" description="section_ratios" comments="true" default="true"/>
	</chapter>

	<chapter id="pvrbAlgemeen" code="blok0" description="chapter_general">
		<section code="Details" description="section_details" comments="false" default="true"/>
		<section code="Preface" description="section_preface" comments="true" default="true"/>
		<section code="TableOfContents" description="section_toc" comments="false" default="true"/>
		<section code="Introduction" description="section_introduction" comments="true" default="false"/>
	</chapter>

	<chapter id="pvVeronderstellingen" code="blok1" description="chapter_assumptions">
		<section code="ProjectionAssumptionsGeneral" description="section_generalassumptions" comments="false" default="true"/>
		<section code="ProjectionAssumptionsBalanceSheet" description="section_balanceassumptions" comments="false" default="true"/>
		<section code="ProjectionAssumptionsIncomeStatement" description="section_resultassumptions" comments="false" default="true"/>
	</chapter>

	<chapter id="realisatieResultatenrekening" code="blok1" description="chapter_result">
		<!--section code="IncomeStatementSummary" description="section_resultsummary" comments="true" default="false"/-->
		<section code="IncomeStatementHeadlines" description="section_compareresultgeneral" comments="true" default="false"/>
		<section code="IncomeStatement" description="section_compareresult" comments="true" default="true"/>
		<section code="IncomeStatementDetail" description="section_compareresultspecific" comments="true" default="false"/>
	</chapter>

	<chapter id="realisatieBalans" code="blok2" description="chapter_balance">
		<!--section code="BalanceSheetSummary" description="section_balancesummary" comments="true" default="false"/-->
		<section code="BalanceSheetHeadlines" description="section_comparebalancegeneral" comments="true" default="false"/>
		<section code="BalanceSheetAssets" description="section_compareassets" comments="true" default="true"/>
		<section code="BalanceSheetEquityAndLiabilities" description="section_compareequity" comments="true" default="true"/>
	</chapter>

	<chapter id="realisatieLiquiditeit" code="blok3" description="chapter_liquidity">
		<!--section code="LiquidityStatementSummary" description="section_liquiditysummary" comments="true" default="false"/-->
		<section code="CashflowStatement" description="section_comparecashflow" comments="true" default="false"/>
		<section code="InvestmentsAndFinancingPlan" description="section_compareinvestfinance" comments="true" default="false"/>
		<section code="LiquidityStatement" description="section_compareliquidity" comments="true" default="false"/>
	</chapter>

	<chapter id="budgetResultatenrekening" code="blok1" description="chapter_result">
		<section code="IncomeStatementSummary" description="section_resultsummary" comments="true" default="false"/>
		<section code="IncomeStatement" description="section_resultyear" comments="true" default="true"/>
		<section excludeColumnFrequency="FINANCIAL_YEAR" excludeTimebase="FOURWEEKS" code="QuarterlyIncomeStatement" description="section_resultquarter" comments="true" default="false"/>
		<section excludeColumnFrequency="FINANCIAL_YEAR" excludeTimebase="FOURWEEKS" code="QuarterlyIncomeStatementDetail" description="section_resultspecificationquater" comments="true" default="false"/>
		<section excludeColumnFrequency="FINANCIAL_YEAR" code="MonthlyIncomeStatement" description="section_resultperiod" comments="true" default="false"/>
		<section excludeColumnFrequency="FINANCIAL_YEAR" code="MonthlyIncomeStatementDetail" description="section_resultspecificationperiod" comments="true" default="false"/>
	</chapter>

	<chapter id="budgetBalans" code="blok2" description="chapter_balance">
		<section code="BalanceSheetSummary" description="section_balancesummary" comments="true" default="false"/>
		<section code="BalanceSheetYears" description="section_balanceyear" comments="true" default="true"/>
		<section excludeColumnFrequency="FINANCIAL_YEAR" excludeTimebase="FOURWEEKS" code="BalanceSheetQuarters" description="section_balancyquarter" comments="true" default="false"/>
		<section excludeColumnFrequency="FINANCIAL_YEAR" code="BalanceSheetMonths" description="section_balanceperiod" comments="true" default="false"/>
	</chapter>

	<chapter id="budgetLiquiditeit" code="blok3" description="chapter_liquidity">
		<section code="LiquidityStatementSummary" description="section_liquiditysummary" comments="true" default="false"/>
		<section code="CashflowStatement" description="section_cashflowyear" comments="true" default="false"/>
		<section excludeColumnFrequency="FINANCIAL_YEAR" excludeTimebase="FOURWEEKS" code="QuarterlyCashflowStatement" description="section_cashflowquarter" comments="true" default="false"/>
		<section excludeColumnFrequency="FINANCIAL_YEAR" code="MonthlyCashflowStatement" description="section_cashflowperiod" comments="true" default="false"/>
		<section code="InvestmentsAndFinancingPlan" description="section_investfinanceyear" comments="true" default="false"/>
		<section excludeColumnFrequency="FINANCIAL_YEAR" excludeTimebase="FOURWEEKS" code="QuarterlyInvestmentsAndFinancingPlan" description="section_investfinancequarter" comments="true" default="false"/>
		<section excludeColumnFrequency="FINANCIAL_YEAR" code="MonthlyInvestmentsAndFinancingPlan" description="section_investfinanceperiod" comments="true" default="false"/>
		<section code="LiquidityStatement" description="section_liquidityyear" comments="true" default="false"/>
		<section excludeColumnFrequency="FINANCIAL_YEAR" excludeTimebase="FOURWEEKS" code="QuarterlyLiquidityStatement" description="section_liquidityquarter" comments="true" default="false"/>
		<section excludeColumnFrequency="FINANCIAL_YEAR" code="MonthlyLiquidityStatement" description="section_liquidityperiod" comments="true" default="false"/>
	</chapter>                                                        
	
	<chapter id="waarderingChapter" code="waardering" description="chapter_waardering">
		<section code="waardering" description="section_waardering" comments="false" default="true"/>
	</chapter>

    <chapter id="financialfactsheetChapter" code="financialfactsheet" description="reporttype_financialfactsheet">
        <section code="financialfactsheetSection" description="reporttype_financialfactsheet" comments="true" default="true"/>
    </chapter>

	<definition id="1" code="5min" description="reporttype_5min" max-columns="6" start-year-selectable="true">
		<chapter-ref id="1.1" ref="5minAlgemeen" default="true"/>
		<chapter-ref id="1.2" ref="5minFinancieel" default="true"/>
		<chapter-ref id="1.3" ref="5minRatios" default="true"/>
		<chapter-ref id="1.4" ref="5minKengetallen" default="true"/>
		<chapter-ref id="1.5" ref="5minOverig" default="true"/>
		<scales>
			<scale default="true" >1</scale>
			<scale>1000</scale>
			<scale>1000000</scale>
		</scales>
		<text code="disclaimer">geen accountantscontrole toegepast</text>
	</definition>

	<definition id="2" code="extended" description="reporttype_extended" max-columns="6" start-year-selectable="true">
		<chapter-ref id="2.1" ref="extendedAlgemeen" default="true"/>
		<chapter-ref id="2.2" ref="extendedBalans" default="true"/>
		<chapter-ref id="2.3" ref="extendedResultaat" default="true"/>
		<chapter-ref id="2.4" ref="extendedLiquiditeit" default="true"/>
		<chapter-ref id="2.5" ref="extendedOverige" default="true"/>
		<scales>
			<scale default="true" >1</scale>
			<scale>1000</scale>
			<scale>1000000</scale>
		</scales>
		<text code="disclaimer">geen accountantscontrole toegepast</text>
	</definition>

	<definition id="3" code="prognoseveronderstellingen" description="reporttype_assumptions" max-columns="6" start-year-selectable="true">
		<chapter-ref id="3.1" ref="pvrbAlgemeen" default="true"/>
		<chapter-ref id="3.2" ref="pvVeronderstellingen" default="true"/>
		<scales>
			<scale default="true" >1</scale>
			<scale>1000</scale>
			<scale>1000000</scale>
		</scales>
		<text code="disclaimer">geen accountantscontrole toegepast</text>
	</definition>

	<definition id="4" code="realisatie" description="reporttype_realisation">
		<chapter-ref id="4.1" ref="pvrbAlgemeen" default="true"/>
		<chapter-ref id="4.2" ref="realisatieResultatenrekening" default="true"/>
		<chapter-ref id="4.3" ref="realisatieBalans" default="true"/>
		<chapter-ref id="4.4" ref="realisatieLiquiditeit" default="true"/>
		<scales>
			<scale default="true" >1</scale>
			<scale>1000</scale>
			<scale>1000000</scale>
		</scales>
		<text code="disclaimer">geen accountantscontrole toegepast</text>
	</definition>

	<definition id="5" code="budget" description="reporttype_budget">
		<chapter-ref id="5.1" ref="pvrbAlgemeen" default="true"/>
		<chapter-ref id="5.2" ref="budgetResultatenrekening" default="true"/>
		<chapter-ref id="5.3" ref="budgetBalans" default="true"/>
		<chapter-ref id="5.4" ref="budgetLiquiditeit" default="true"/>
		<scales>
			<scale default="true" >1</scale>
			<scale>1000</scale>
			<scale>1000000</scale>
		</scales>
		<text code="disclaimer">geen accountantscontrole toegepast</text>
	</definition>

 	<definition id="6" code="uitkeringstoets" description="reporttype_dividendtest" max-columns="6" start-year-selectable="true">
		<chapter-ref id="6.1" ref="toetsAlgemeen" default="true"/>
		<chapter-ref id="6.2" ref="toetsLiquiditeit" default="true"/>
		<chapter-ref id="6.3" ref="toetsKengetallen" default="true"/>
		<scales>
			<scale default="true" >1</scale>
			<scale>1000</scale>
			<scale>1000000</scale>
		</scales>
		<text code="disclaimer">geen accountantscontrole toegepast</text>
	</definition>
			
	<definition id="7" code="questionnaire-kam" description="KAM" /> 
       
	<definition id="8" code="questionnaire-kam_sra" description="KAM_SRA" /> 
	
	<definition id="9" code="waardering" description="reporttype_waardering" max-scenarios="3" max-columns="6" start-year-selectable="true"> 
		<chapter-ref id="9.1" ref="waarderingChapter" default="true"/>
		<scales>
			<scale>1</scale>
			<scale default="true">1000</scale>
			<scale>1000000</scale>
		</scales>
		<text code="disclaimer">geen accountantscontrole toegepast</text>     
	</definition>     
	 
	<definition id="10" code="questionnaire-fam" description="FAM" />

    <definition id="12" code="financialfactsheet" description="reporttype_financialfactsheet" max-columns="3" start-year-selectable="true">
        <chapter-ref id="12.1" ref="financialfactsheetChapter" default="true"/>
        <scales>
            <scale>1</scale>
            <scale default="true">1000</scale>
            <scale>1000000</scale>
        </scales>
    </definition>
</reports>