{
	"urls" : 
	{
		"readmore" : "http://www.unit4.com/nl/software/branchespecifiek/unit4-accountancy/prognose",
		"unit4accountancy" : "http://www.unit4.com/nl/software/branchespecifiek/unit4-accountancy",
		"terms": "http://www.unit4.com/nl/over-unit4/algemene-voorwaarden",
		"contact" : "http://info.unit4.com/NL-WL-Informatieaanvraag-Accountancy_LP.html"
	},
	"infoText" : 
	[ 
		{
			"type" : "",
			"string" : ""
		}
	]
}
