<div class="container-fluid">
    <h1 class="page-header">Exchange</h1>

    <div ng-controller="exchange">
        <div class="col-lg-4 col-md-6" ng-repeat="importtype in importTypes | filter:{hide:'!true'}">
            <div class="panel panel-{{importtype.status || 'primary'}}">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-comments fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge" ng-bind="importtype.name"></div>
                            <div> {{importtype.headername}}</div>
                        </div>
                    </div>
                </div>
                <div class="panel-footer">
                    <form role="form">
                        <div class="form-group">
                            <!--<label>Import file</label>-->
                            <input type="file" class="btn btn-outline btn-primary btn-lg btn-block" ng-file-select>
                        </div>
                    </form>
                    <form role="form">
                        <div class="form-group">
                            <!--<label>Export file</label>-->
                            <a ng-disabled="importtype.notexporting" ng-click="createDownload(importtype.name)" type="submit" download="{{filename}}" ng-href="{{ fileUrl }}" class="btn btn-outline btn-primary btn-lg btn-block">Download {{model}}.{{(importtype.extension || importtype.name)}} file</a>
                        </div>
                    </form>
                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>

                    <div class="panel-body" ng-show="importtype.importFeedback && !importtype.importFeedback.valid">
                        <a ng-click="fixAll(importtype)" class="alert-link">Fix All</a>

                        <span>errors: {{importtype.importFeedback.error.length}} only showing first 50</span>

                        <div ng-repeat="error in importtype.importFeedback.error | filter:{} | limitTo: 50" class="alert alert-danger">
                            {{error.reason}}
                            <a ng-if="error.canFix" ng-click="fixError(importtype,error)" class="alert-link">Fix ({{error.fixMessage}} {{error.variableName}} reference)</a>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>

        </div>
    </div>
</div>