{
	"urls" :
	{
		"readmore" : "https://finan.nl/hoe-werkt-het/",
		"terms" : "https://finan.nl/wp-content/uploads/2015/06/algemene-voorwaarden.pdf",
		"contact" : "https://finan.nl/contact/",
		"twitter" : "https://twitter.com/topicusfinan",
		"linkedin" : "https://www.linkedin.com/company/finan",
		"supportmail" : "support@finan.nl"
	},
	"infoText" :
	[
		{
			"type" : "header1",
			"string" : "Vooruit in de financieringsketen"
		},
		{
			"type" : "meta",
			"string" : "September - Release 4.9"
		},
		{
			"type" : "divider"
		},
		{
			"type" : "paragraph",
			"string" : "Wij hebben voor u de volgende punten opgepakt en verbeterd:"
		},
		{
			"type" : "list",
			"items" : [
				{
					"string" : "Ondersteuning voor het importeren van BT11."
				},
				{
					"string" : "Nieuwe applicatie voor het exporteren van BT11 voor IB, NP en Klein (enkelvoudig)."
				},
				{
					"string" : "Financieringsaanvraag starten zonder financiële cijfers."
				},
				{
					"string" : "Engelstalige applicaties en rapportages."
				}
			]
		},
		{
			"type" : "button",
			"string" : "Bekijk release notes",
			"url" : "/handleiding/nl/index.html?release_notes.htm"
		}
	]
}
