<?xml version="1.0" encoding="utf-8"?>
<reports>

	<!--
		Hieronder kun je hoofdstukken (chapters) definieren die te gebruiken zijn in rapportage definities (definitions)
		Hoofdstukken bestaan uit tenminste 1 sectie (section)
		Hoofdstukken zijn te hergebruiken over rapportages en kunnen secties van elkaar overerven (door extends te gebruiken)
	-->

    <chapter id="financialfactsheetChapter" code="financialfactsheet" description="reporttype_financialfactsheet">
        <section code="financialfactsheetSection" description="reporttype_financialfactsheet" comments="true" default="true"/>
    </chapter>

    <definition id="1" code="financialfactsheet" description="reporttype_financialfactsheet" max-columns="3" start-year-selectable="true">
        <chapter-ref id="1.1" ref="financialfactsheetChapter" default="true"/>
        <scales>
            <scale>1</scale>
            <scale default="true">1000</scale>
            <scale>1000000</scale>
        </scales>
    </definition>
</reports>