<?xml version="1.0" encoding="utf-8"?>
<reports>

	<!--
		Hieronder kun je hoofdstukken (chapters) definieren die te gebruiken zijn in rapportage definities (definitions)
		Hoofdstukken bestaan uit tenminste 1 sectie (section)
		Hoofdstukken zijn te hergebruiken over rapportages en kunnen secties van elkaar overerven (door extends te gebruiken)
	-->
	
	<definition id="1" code="questionnaire-scorecardtestmodel" description="Vragenlijstrapportage">
		<scales>
			<scale default="true">1</scale>
			<scale>1000</scale>
			<scale>1000000</scale>
		</scales>
		<text code="disclaimer">geen accountantscontrole toegepast</text>
	</definition>
</reports>