0<style type="text/css">
    html {
        overflow-y: scroll;
    }

    #formula-editor .focus {
        border-color: blue;
        border-width: 3px;
        border-style: dashed;
        border-collapse: collapse;
    }

    body {
        font-family: Tahoma, Verdana, Segoe, sans-serif;
        font-size: 12px;
        margin: 0;
        line-height: inherit;
    }

    #tblbody {
        table-layout: fixed;
        overflow: hidden;
        white-space: nowrap;
    }

    #tblheader {
        position: fixed;
        z-index: 51;
        width: 100%;
        border: 1px solid #fff;
        background: white;
        text-align: center;
        padding: 0px;
        top: 21px;
    }

    #tblbody {
        position: absolute;
        z-index: 50;
        width: 100%;
        text-align: center;
        margin-top: 48px; /*//48:63, magix;*/
        padding: 0px;
        margin-bottom: 30px;
        overflow: hidden;
    }

    #tblbody tr {
        min-height: 11px;
        padding: 0px;
    }

    #tblheader tr {
        height: 30px;
    }

    #formula-editor td, th {
        padding: 0px;
    }

    #tblfoorer {
        position: fixed;
        z-index: 52;
        width: 100%;
        bottom: 0px;
        border: 1px solid #fff;
        background: white;
    }

    #tblfooter tr, #tblfoorer tr {
        height: 30px;
    }

    #formula-editor input[type="checkbox"] {
        margin: 0px 0px 0px 0px;
    }

    #formula-editor input {
        height: 100%
    }

    #formula-editor td {
        width: 10%;
        text-align: center;
        overflow: hidden;
    }

    #formula-editor .input-group {
        position: relative;
        display: table;
        border-collapse: separate;
        width: 100%;

    }

    #formula-editor table {
        border-collapse: collapse;
    }

    #formula-editor input {
        font: inherit;
    }

    #formula-editor table td.highlighted {
        background-color: #999;
    }

    #formula-editor td *[readonly] {
        background: ghostwhite;
    }

    #tblbody .form-control {
        height: 19px;
        padding: 0px 0px;
        width: 100%;
        display: block;
        border: 1px solid #fff;
        border-radius: inherit;
        background-color: inherit;
        webkit-box-shadow: inset 0 0px 0px;
        box-shadow: inset 0 0px 0px;
        -webkit-transition: none;
        -o-transition: none;
        transition: none;
        text-align: left;
    }

    #formula-editor .whitesmoke {
        background-color: whitesmoke;
    }

    #formula-editor .highlighted {
        border: 1px dashed red;
    }

    #tblbody tr:hover td {
        background-color: #fff !important;
    }

    #formula-editor .content table {
        background-color: white;
    }

    #tblheader h2 {
        padding-bottom: 0px;
    }

    .navbar-top-links {
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-size: 14px;
        line-height: 1.42857143;
        color: #333;
    }

</style>
<div id="formula-editor" ng-controller="editor">
    <table id="tblheader">
        <tr>
            <td colspan="2" class="whitesmoke"></td>
            <td colspan="1" class="whitesmoke">
                <select>
                    <option>{{SelectedComponent.row + "_" + SelectedComponent.col}}</option>
                </select>
            </td>
            <td colspan="1" class="whitesmoke">
                <select ng-model="SETTINGS.LANGUAGE">
                    <option>nl</option>
                    <option>en</option>
                </select>
            </td>
            </td>
            <td class="whitesmoke" colspan="3">
                <select ng-model="SelectedComponent.ui.displayAs">
                    <option ng-repeat="answertype in answertypes">{{answertype}}</option>
                </select>
            </td>
            <td class="whitesmoke">
            </td>
            <td class="whitesmoke">
            </td>
            <td class="whitesmoke" sidebar-show ng-click="switchPage('Questionnaire')">
                <i class="fa fa-edit fa-fw"></i>
            </td>
        </tr>
        <tr>
            <td class=whitesmoke>
                <img style="height: 20px" src="../../../dist/Function-512.png"/>
            </td>
            <td colspan="9">
                <input id="formulaInput" ng-readonly="SelectedComponent == undefined" style="width: 100%; border: none;" ng-model="SelectedComponent.formula.original" ng-change="updateFormula(SelectedComponent.row,SelectedComponent.col ,SelectedComponent.formula)" ng-model-options="{ getterSetter: true, updateOn: 'blur'   }"/>
            </td>

        </tr>
        <tr>
            <td class="whitesmoke" colspan="2">

                <div class="input-group">
                    <span class="input-group-addon"> <i class="fa fa-search"></i></span>
                    <input type="text" class="form-control" ng-model="search.rowId" placeholder="Search..." ng-model-options="{debounce: {'default': 1000, 'blur': 0}}"/>
                    <span class="input-group-addon"> <i class="fa fa-info-circle"></i></span>
                </div>
            </td>
            <td class="whitesmoke" ng-repeat="col in cols" title="{{col.colId}}" ng-if="$index > 0" data-placement='bottom'><i class="fa {{col.icon}}"></i>{{col.displayText}}</td>
        </tr>
    </table>
    <table id="tblbody">
        <tr ng-repeat="row in rows | filter:search | limitTo: 200">
            <td readonly><span ng-bind="convert(row)"></span></td>
            <td ng-repeat="col in cols" ng-init="vals[row.rowId+col.colId] = { ui : getUI(sheet.id + row.rowId,col.colId) } ; temp = vals[row.rowId+col.colId];" ng-switch on="temp.ui.displayAs">
                <button ng-switch-when="ActionType" ng-focus="print(temp,sheet.id + row.rowId,col.colId)" ng-click="apiGet(sheet.id + row.rowId, col.colId)">OK</button>
                <select ng-switch-when="select" class="form-control" ng-model="temp.inputValue" ng-change="exportValue(sheet.id + row.rowId,temp,col.colId,temp.inputValue)" ng-init="choices = apiGet(sheet.id + row.rowId,'choices')" ng-focus="print(temp,sheet.id + row.rowId,col.colId)">
                    <option ng-repeat="option in choices" value="{{option.name}}"> {{option.value}}</option>
                </select>
                <input ng-switch-when="BooleanAnswerType" type="checkbox" class="form-control" ng-bind="apiGetSet(sheet.id + row.rowId, temp,col.colId)" ng-model="temp.inputValue" ng-model-options="{  getterSetter: true, updateOn: 'blur' }" ng-focus="print(temp,sheet.id + row.rowId,col.colId)"/>
                <input ng-switch-when="AmountAnswerType" type="text" class="form-control" ng-bind="apiGetSet(sheet.id + row.rowId, temp,col.colId)" ng-model="temp.inputValue" ng-model-options="{  getterSetter: true, updateOn: 'blur' }" ng-focus="print(temp,sheet.id + row.rowId,col.colId)"/>
                <input ng-switch-when="MemoAnswerType" type="text" class="form-control" ng-bind="apiGetSet(sheet.id + row.rowId, temp,col.colId)" ng-model="temp.inputValue" ng-model-options="{  getterSetter: true, updateOn: 'blur' }" ng-focus="print(temp,sheet.id + row.rowId,col.colId)"/>
                <input ng-switch-when="StringAnswerType" type="text" class="form-control" ng-bind="apiGetSet(sheet.id + row.rowId, temp,col.colId)" ng-model="temp.inputValue" ng-model-options="{  getterSetter: true, updateOn: 'blur' }" ng-focus="print(temp,sheet.id + row.rowId,col.colId)"/>
                <input ng-switch-when="DateAnswerType" type="date" class="form-control" ng-bind="apiGetSet(sheet.id + row.rowId, temp,col.colId)" ng-model="temp.inputValue" ng-model-options="{  getterSetter: true, updateOn: 'blur' }" ng-focus="print(temp,sheet.id + row.rowId,col.colId)"/>
                <input ng-switch-when="TextAnswerType" type="text" class="form-control" ng-bind="apiGet(sheet.id + row.rowId,col.colId)" ng-model="temp.inputValue" ng-model-options="{  getterSetter: true, updateOn: 'blur' }" ng-focus="print(temp,sheet.id + row.rowId,col.colId)"/>
                <input ng-switch-when="PropertyType" readonly class="form-control" ng-bind="temp.inputValue = apiGet(sheet.id + row.rowId, col.colId)" ng-model="temp.inputValue" ng-model-options="{  getterSetter: true, updateOn: 'blur' }" ng-focus="print(temp,sheet.id + row.rowId,col.colId)"/>
                <input ng-switch-when="undefined" readonly class="form-control" ng-focus="print(temp,sheet.id + row.rowId,col.colId)"/>
                <input readonly ng-switch-default class="form-control" ng-focus="print(temp,sheet.id + row.rowId,col.colId)"/>
            </td>
        </tr>
    </table>
    <table id="tblfoorer">
        <tr>
            <td ng-repeat="tab in sheets" class="whitesmoke" ng-click="sheet.id= tab.id">{{tab.id}}</td>
            <td><input ng-model="SelectedComponent.row"/></td>
        </tr>
    </table>
    <script type="text/javascript">

        (function ()
        {
            var isMouseDown = false, isHighlighted;
            var selectedCells = {};
            $("#tblbody").on('mousedown', function (evt)
            {
                isMouseDown = true;
                var td = $(evt.target).closest('td');
                //td.toggleClass("highlighted");
                isHighlighted = !$(td).hasClass("highlighted");

                return true; // prevent text selection
            });
            $("#tblbody").on('mouseover', function (evt)
            {
                if (isMouseDown)
                {
                    var td = $(evt.target).closest('td');
                    td.toggleClass("highlighted", isHighlighted);

                    var trIndex = td.closest('tr').index();
                    var tdIndex = td.index();
                    var tH = $(td).hasClass("highlighted");
                    if (tH)
                    {
                        selectedCells[trIndex + ":" + tdIndex] = {
                            y: trIndex,
                            x: tdIndex
                        }
                    }
                    else
                    {
                        selectedCells[trIndex + ":" + tdIndex] = undefined;
                    }
                    console.info(JSON.stringify(selectedCells, null, 2));
                }
            }).bind("selectstart", function ()
            {
                return false;
            });
            $(document).mouseup(function ()
            {
                isMouseDown = false;
            });
            var lastCell;
            var focusedCell = null;
            var right = function (td)//right
            {
                focusedCell = $(td).next('td');
            };
            var keyCodes = {

                37: function (td)//left
                {
                    focusedCell = $(td).prev('td');
                },
                38: function (td)//up
                {
                    focusedCell = $(td).closest('tr').prev('tr').find('td')[td.index()];
                },
                9: function (td, event)//tab
                {
                    right(td);
                    event.stopImmediatePropagation();
                },
                39: right,
                40: function (td)//down
                {
                    focusedCell = $(td).closest('tr').next('tr').find('td')[td.index()];
                }
            }
            $('#tblbody,#tblheader').on('keyup', function (evt)
            {
                if (lastCell !== undefined)
                {
                    lastCell.removeClass('focus');
                }
                if (evt.keyCode === 13)//enter
                {
                }
                if (keyCodes[evt.keyCode] !== undefined)
                {
                    var old = focusedCell;
                    var td = $(focusedCell === undefined ? evt.target : focusedCell).closest('td');
                    keyCodes[evt.keyCode](td, evt);
                    if (focusedCell !== undefined)
                    {
                        lastCell = $(focusedCell);
                        var find = lastCell.find('input,select,button');
                        lastCell.addClass('focus');
                        find.focus();
                    }
                }
            });
        })();
    </script>
</div>