<?xml version="1.0" encoding="utf-8"?>
<reports>

	<!--
		Hieronder kun je hoofdstukken (chapters) definieren die te gebruiken zijn in rapportage definities (definitions)
		Hoofdstukken bestaan uit tenminste 1 sectie (section)
		Hoofdstukken zijn te hergebruiken over rapportages en kunnen secties van elkaar overerven (door extends te gebruiken)
	-->

	<chapter id="5minAlgemeen" code="blok0" description="chapter_general">
		<section code="Details" description="section_details" comments="false" default="true"/>
		<!--<section code="Preface" description="section_preface" comments="true" default="false"/>-->
		<section code="Offer" description="section_offer" comments="true" default="true">
			<comments><![CDATA[$customer_name
T.a.v. de directie
$customer_address
$customer_zipcode $customer_city


[Plaats], $date_now
Kenmerk: [xxxxx]
Betreft: [prognose periode]


Geachte directie,

Hierbij ontvangt u aantal exemplaren van het door ons, in uw opdracht, samengestelde budget van bovengenoemde vennootschap voor de periode $prognose_firstyear tot en met $prognose_lastyear ten behoeve van de financieringsaanvraag bij naam bank(en) in verband met de voorgenomen nieuwbouw. Het budget is voorzien van de daarbij behorende, door ons afgegeven samenstellingsverklaring gedateerd op dag maand 201X.

Het samenstellen van het budget hebben wij uitgevoerd conform de bepalingen, zoals vastgelegd in de opdrachtbevestiging van dag maand 201X. Van de overeengekomen bepalingen in deze opdrachtbevestiging is niet afgeweken.

De werkelijke uitkomsten wijken waarschijnlijk af van het budget, aangezien de veronderstelde gebeurtenissen zich veelal niet op gelijke wijze zullen voordoen als hier is aangenomen. De hieruit voortvloeiende afwijkingen kunnen van materieel belang zijn.

Naar u ons heeft meegedeeld is het budget uitsluitend bedoeld ter ondersteuning van de financieringsaanvraag ten behoeve van de voorgenomen nieuwbouw en blijft het verwachte gebruik en de verspreiding van het budget beperkt tot uzelf en bestaande of potentiële financiers. Gezien dit specifieke doel en de beperkte verspreidingskring is  verspreiding van onze samenstellingsverklaring bij het budget onder andere gebruikers dan hiervoor genoemd, slechts toegestaan na onze schriftelijke toestemming. 

Voor nadere toelichting kunt u uiteraard te allen tijde contact met ons opnemen. 


Hoogachtend,
BDO Accountants
namens deze,




<<handtekening>>

$user_name

]]></comments>
		</section>
		<section code="TableOfContents" description="section_toc" comments="false" default="true"/>
		<section code="Introduction" description="section_introduction" comments="true" default="false"/>
		<section code="Remarks" description="section_presuppositions" comments="true" default="true">
<comments><![CDATA[De veronderstellingen waarop $projectnaam is gebaseerd, betreffen schattingen en hypotheses voor de periode $prognose_firstyear tot en met $prognose_lastyear. Een schatting is een veronderstelling omtrent toekomstige gebeurtenissen, waarvan de leiding van de vennootschap verwacht dat deze zullen plaatsvinden en de op grond daarvan door de leiding te nemen acties, voor zover bekend op het moment dat $projectnaam wordt opgesteld. Een hypothese is een veronderstelling omtrent toekomstige gebeurtenissen en door de leiding van de vennootschap te nemen acties, waarvan niet vaststaat dat ze daadwerkelijk zullen plaatsvinden.]]></comments>
		</section>
	</chapter>

	<chapter id="5minFinancieel" code="blok1" description="chapter_financial">
		<section code="Block1A" description="section_income" comments="true" default="true"/>
		<section code="Block1B" description="section_costs" comments="true" default="true"/>
		<section code="Block1C" description="section_profit" comments="true" default="true"/>
		<section code="Block1D" description="section_rentability" comments="true" default="false"/>
		<section code="Block1E" description="section_breakeven" comments="true" default="false"/>
	</chapter>

	<chapter id="5minRatios" code="blok2" description="chapter_5minratios">
		<section code="Block2A" description="section_customerspecific" comments="true" default="false"/>
		<section code="Block2B" description="section_inventoryturnaround" comments="true" default="false"/>
		<section code="Block2C" description="section_productivity" comments="true" default="false"/>
	</chapter>

	<chapter id="5minKengetallen" code="blok3" description="chapter_5minliqratios">
		<section code="Block3A" description="section_quickcurrent" comments="true" default="false"/>
		<section code="Block3D" description="section_networthobligations" comments="true" default="false"/>
		<section code="Block3E" description="section_liabilities" comments="true" default="true"/>
		<section code="Block3F" description="section_shorttermliabilities" comments="true" default="false"/>
		<section code="Block3G" description="section_solvability" comments="true" default="true"/>
		<section code="Block3I" description="section_liquiditycurrentaccount" comments="true" default="false"/>
	</chapter>

	<chapter id="5minOverig" code="blok4" description="chapter_other">
		<section code="FinancialOverview" description="section_5minsummary" comments="false" default="true"/>
	</chapter>

	<chapter id="extendedAlgemeen" code="blok0" description="chapter_general">
		<section code="Offer" description="section_offer" comments="true" default="true">
			<comments><![CDATA[$customer_name
T.a.v. de directie
$customer_address
$customer_zipcode $customer_city

[Plaats], $date_now
Kenmerk: [xxxxx]



Betreft: [budget periode] van $customer_name


Geachte directie,

Hierbij ontvangt u aantal exemplaren van het door ons, in uw opdracht, samengestelde budget van bovengenoemde vennootschap voor de periode $prognose_firstyear tot en met $prognose_lastyear ten behoeve van de financieringsaanvraag bij naam bank(en) in verband met de voorgenomen nieuwbouw. Het budget is voorzien van de daarbij behorende, door ons afgegeven samenstellingsverklaring gedateerd op dag maand 201X.

Het samenstellen van het budget hebben wij uitgevoerd conform de bepalingen, zoals vastgelegd in de opdrachtbevestiging van dag maand 201X. Van de overeengekomen bepalingen in deze opdrachtbevestiging is niet afgeweken.

De werkelijke uitkomsten wijken waarschijnlijk af van het budget, aangezien de veronderstelde gebeurtenissen zich veelal niet op gelijke wijze zullen voordoen als hier is aangenomen. De hieruit voortvloeiende afwijkingen kunnen van materieel belang zijn.
Naar u ons heeft meegedeeld is het budget uitsluitend bedoeld ter ondersteuning van de financieringsaanvraag ten behoeve van de voorgenomen nieuwbouw en blijft het verwachte gebruik en de verspreiding van het budget beperkt tot uzelf en bestaande of potentiële financiers. Gezien dit specifieke doel en de beperkte verspreidingskring is  verspreiding van onze samenstellingsverklaring bij het budget onder andere gebruikers dan hiervoor genoemd, slechts toegestaan na onze schriftelijke toestemming. 

Voor nadere toelichting kunt u uiteraard te allen tijde contact met ons opnemen. 


Hoogachtend,
BDO Accountants 
namens deze,



<<handtekening>>

$user_name

]]></comments>
		</section>
		<section code="TableOfContents" description="section_toc" comments="false" default="true"/>
		<section code="Introduction" description="section_introduction" comments="true" default="false"/>
		<section code="Samenstel" description="section_declaration" comments="true" default="true">
			<comments><![CDATA[Aan: de algemene vergadering en de directie van $customer_name.

De begroting van $customer_name is door ons samengesteld op basis van de van u verkregen informatie. De begroting bestaat uit de geprognosticeerde balans per 31 december 201X en de geprognosticeerde winst-en-verliesrekening over de periode van $prognose_firstyear tot en met $prognose_lastyear met de daarbij horende toelichting. In deze toelichting is onder andere een overzicht van de gehanteerde grondslagen voor financiële verslaggeving opgenomen. 

Deze samenstellingsopdracht is door ons uitgevoerd volgens Nederlands recht, waaronder de voor accountants geldende Standaard 4410, “Samenstellingsopdrachten”. Op grond van deze standaard wordt van ons verwacht dat wij u ondersteunen bij het opstellen en presenteren van de begroting in overeenstemming met de in de toelichting opgenomen veronderstellingen. Wij hebben daarbij onze deskundigheid op het gebied van administratieve verwerking en financiële verslaggeving toegepast. 

Bij een samenstellingsopdracht bent u er verantwoordelijk voor dat de informatie klopt en dat u ons alle relevante informatie aanlevert. Wij hebben onze werkzaamheden, in overeenstemming met de daarvoor geldende regelgeving, dan ook uitgevoerd vanuit de veronderstelling dat u aan deze verantwoordelijkheid heeft voldaan. Als slotstuk van onze werkzaamheden zijn wij door het lezen van de begroting globaal nagegaan dat het beeld van de begroting overeenkwam met onze kennis van $customer_name.

Bij het uitvoeren van deze opdracht hebben wij ons gehouden aan de voor ons geldende relevante ethische voorschriften in de Verordening Gedrags- en Beroepsregels Accountants (VGBA). U en andere gebruikers van deze begroting mogen er dan ook vanuit gaan dat wij de opdracht professioneel, vakbekwaam en zorgvuldig, integer en objectief hebben uitgevoerd en dat wij vertrouwelijk omgaan met de door u verstrekte gegevens. 

De werkelijke uitkomsten zullen waarschijnlijk afwijken van de begroting, aangezien de veronderstelde gebeurtenissen zich veelal niet op gelijke wijze zullen voordoen als bij de opstelling van de begroting is aangenomen. De hieruit voortvloeiende afwijkingen kunnen van materieel belang zijn.

De begroting is opgesteld voor de directie van $customer_name met als doel $customer_name in staat te stellen te voldoen aan [omschrijving doel]. Hierdoor is de begroting mogelijk niet geschikt voor andere doeleinden. Onze samenstellingsverklaring is derhalve uitsluitend bestemd voor $customer_name en evt. andere gebruikersgroep en dient niet te worden verspreid aan of te worden gebruikt door anderen.


[Plaats], $date_now

BDO Accountants
namens deze,



$user_name
]]></comments>
		</section>
		<section code="Valuation" description="section_valutiongrounds" comments="true" default="true">
			<comments><![CDATA[Algemeen
Grondslagen voor de waardering van activa en passiva
De prognose is opgesteld in overeenstemming met de in Nederland gangbare grondslagen zoals opgenomen in de wettelijke bepalingen van Titel 9 Boek 2 BW.

De algemene grondslag voor de waardering van de activa en passiva, alsmede voor de bepaling van het resultaat, is de verkrijgingsprijs- of de vervaardigingsprijs. Voor zover niet anders vermeld, worden activa en passiva opgenomen voor de nominale waarde.

Transacties in vreemde valuta
Vorderingen, schulden en verplichtingen worden omgerekend tegen de koers per balansdatum.
Transacties in vreemde valuta gedurende de prognoseperiode worden in de prognose verwerkt tegen de koers op transactiedatum. De uit de omrekening voortvloeiende koersverschillen worden opgenomen in de winst-en-verliesrekening.

Materiële vaste activa
Bedrijfsgebouwen en terreinen worden gewaardeerd op aanschafwaarde, verminderd met de cumulatieve afschrijvingen en indien van toepassing, met bijzondere waardeverminderingen. De afschrijvingen worden gebaseerd op de geschatte economische gebruiksduur en worden berekend op basis van een vast percentage van de verkrijgingsprijs, rekening houdend met een eventuele restwaarde. Er wordt afgeschreven vanaf het moment van ingebruikneming. Op terreinen wordt niet afgeschreven.

Overige vaste activa worden gewaardeerd tegen verkrijgings- of vervaardigingsprijs inclusief direct toerekenbare kosten, onder aftrek van lineaire afschrijvingen gedurende de verwachte toekomstige gebruiksduur en bijzondere waardeverminderingen. 

Kosten voor periodiek groot onderhoud worden ten laste gebracht van het resultaat op het moment dat deze zich voordoen.
OF

Voor de kosten van periodiek groot onderhoud wordt een voorziening gevormd. Deze voorziening is opgenomen onder de overige voorzieningen aan de passiefzijde van de balans. De uitgaven voor groot onderhoud worden ten laste gebracht van deze voorziening.

Voorraden 
Grond- en hulpstoffen en handelsgoederen 
De voorraden grond- en hulpstoffen en handelsgoederen worden gewaardeerd tegen kostprijs.
OF
Voorraden gereed product
Voorraden gereed product worden gewaardeerd tegen vervaardigingsprijs. De vervaardigingsprijs omvat het directe materiaalverbruik, de directe loon- en machine-kosten en de overige kosten die rechtstreeks aan de vervaardiging kunnen worden toegerekend, en een opslag voor indirecte fabricagekosten. 

Voorziening
Voorziening garantieverplichtingen
De voorziening garantieverplichtingen wordt opgenomen voor de geschatte kosten die naar verwachting voortvloeien uit de per balansdatum lopende garantieverplichtingen uit hoofde van geleverde goederen en diensten. Ten laste van de voorziening komen de kosten die voortvloeien uit het honoreren van garantieclaims.

Voorziening groot onderhoud
De voorziening ter gelijkmatige verdeling van lasten voor groot onderhoud van gebouwen wordt bepaald op basis van de te verwachten kosten over een reeks jaren. De voorziening wordt lineair opgebouwd. Het uitgevoerde onderhoud wordt ten laste van deze voorziening gebracht. 


Grondslagen voor de resultaatbepaling

Algemeen
Het resultaat wordt bepaald als het verschil tussen de netto omzet en alle hiermee verbonden, aan het verslagjaar toe te rekenen kosten. De kosten worden bepaald met inachtneming van de hiervoor vermelde waarderingsgrondslagen.

Winsten worden verantwoord in het jaar waarin de omzet is gerealiseerd. Verliezen worden in aanmerking genomen in het jaar waarin deze voorzienbaar zijn.

De overige baten en lasten worden toegerekend aan de verslagperiode waarop deze betrekking hebben.

Netto-omzet
De netto omzet betreft de opbrengst voor de aan afnemers (derden) geleverde goederen en diensten onder aftrek van toegestane kortingen en de over de omzet geheven belastingen.

Opbrengsten voortvloeiend uit de verkoop van goederen worden verantwoord op het moment dat alle belangrijke rechten op economische voordelen alsmede alle belangrijke risico’s zijn overgegaan op de koper.

Opbrengsten van diensten worden opgenomen naar rato van de mate waarin de diensten zijn verricht.

Kostprijs van de omzet
De kostprijs van de omzet, waaronder begrepen de direct met de inkoop daarvan verband houdende kosten, wordt gewaardeerd tegen de uitgaafprijs. In deze kosten zijn tevens begrepen kosten wegens afboeking van voorraden tot lagere opbrengstwaarde.

Financiële baten en lasten
De financiële baten en lasten betreffen van derden en groepsmaatschappijen ontvangen (te ontvangen) en aan derden en groepsmaatschappijen betaalde (te betalen) interest.

Belastingen
De vennootschapsbelasting is berekend over het resultaat volgens de winst-en-verliesrekening tegen het geldend tarief, rekening houdend met fiscale faciliteiten. Tevens wordt hieronder opgenomen de mutatie in de voorziening voor latente vennootschapsbelasting.]]></comments>
		</section>
		<section code="Remarks" description="section_presuppositions" comments="true" default="true">
			<comments><![CDATA[De veronderstellingen waarop $projectnaam is gebaseerd, betreffen schattingen en hypotheses voor de periode $prognose_firstyear tot en met $prognose_lastyear. Een schatting is een veronderstelling omtrent toekomstige gebeurtenissen, waarvan de leiding van de vennootschap verwacht dat deze zullen plaatsvinden en de op grond daarvan door de leiding te nemen acties, voor zover bekend op het moment dat $projectnaam wordt opgesteld. Een hypothese is een veronderstelling omtrent toekomstige gebeurtenissen en door de leiding van de vennootschap te nemen acties, waarvan niet vaststaat dat ze daadwerkelijk zullen plaatsvinden.]]></comments>
		</section>
	</chapter>

	<chapter id="extendedBalans" code="blok1" description="chapter_balance">
		<section code="GraphAssets" description="section_graphassets" comments="true" default="false"/>
		<section code="GraphNetWorth" description="section_graphnetworth" comments="true" default="false"/>
		<section code="GraphLiability" description="section_graphliability" comments="true" default="false"/>
		<section code="BalanceSheetAssets" description="section_assetsyear" comments="true" default="true"/>
		<section code="BalanceSheetEquityAndLiabilities" description="section_equityyear" comments="true" default="true"/>
		<section excludeColumnFrequency="FINANCIAL_YEAR" excludeTimebase="FOURWEEKS" code="QuarterlyBalanceSheetAssets1" description="section_assetsquarterfirst" comments="true" default="false"/>
		<section excludeColumnFrequency="FINANCIAL_YEAR" excludeTimebase="FOURWEEKS" code="QuarterlyBalanceSheetEquityAndLiabilities1" description="section_equityquarterfirst" comments="true" default="false"/>
		<section excludeColumnFrequency="FINANCIAL_YEAR" excludeTimebase="FOURWEEKS" code="QuarterlyBalanceSheetAssets2" description="section_assetsquartersecond" comments="true" default="false"/>
		<section excludeColumnFrequency="FINANCIAL_YEAR" excludeTimebase="FOURWEEKS" code="QuarterlyBalanceSheetEquityAndLiabilities2" description="section_equityquartersecond" comments="true" default="false"/>
		<section excludeColumnFrequency="FINANCIAL_YEAR" code="MonthlyBalanceSheetAssets1" description="section_assetsperiodfirst" comments="true" default="false"/>
		<section excludeColumnFrequency="FINANCIAL_YEAR" code="MonthlyBalanceSheetEquityAndLiabilities1" description="section_equityperiodfirst" comments="true" default="false"/>
		<section excludeColumnFrequency="FINANCIAL_YEAR" code="MonthlyBalanceSheetAssets2" description="section_assetsperiodsecond" comments="true" default="false"/>
		<section excludeColumnFrequency="FINANCIAL_YEAR" code="MonthlyBalanceSheetEquityAndLiabilities2" description="section_equityperiodsecond" comments="true" default="false"/>
	</chapter>

	<chapter id="extendedResultaat" code="blok2" description="chapter_result">
		<section code="GraphSales" description="section_graphsales" comments="true" default="false"/>
		<section code="GraphCosts" description="section_graphcosts" comments="true" default="false"/>
		<section code="GraphResult" description="section_graphresult" comments="true" default="false"/>
		<section code="GraphBreakEven" description="section_graphbreakeven" comments="true" default="false"/>
		<section code="IncomeStatement" description="section_resultyear" comments="true" default="true"/>
		<section code="SpecificIncomeStatement" description="section_resultspecificationyear" comments="true" default="false"/>
		<section excludeColumnFrequency="FINANCIAL_YEAR" excludeTimebase="FOURWEEKS" code="QuarterlyIncomeStatement1" description="section_resultquarterfirst" comments="true" default="false"/>
		<section excludeColumnFrequency="FINANCIAL_YEAR" excludeTimebase="FOURWEEKS" code="QuarterlySpecificIncomeStatement1" description="section_resultspecificationquarterfirst" comments="true" default="false"/>
		<section excludeColumnFrequency="FINANCIAL_YEAR" excludeTimebase="FOURWEEKS" code="QuarterlyIncomeStatement2" description="section_resultquartersecond" comments="true" default="false"/>
		<section excludeColumnFrequency="FINANCIAL_YEAR" excludeTimebase="FOURWEEKS" code="QuarterlySpecificIncomeStatement2" description="section_resultspecificationquartersecond" comments="true" default="false"/>
		<section excludeColumnFrequency="FINANCIAL_YEAR" code="MonthlyIncomeStatement1" description="section_resultperiodfirst" comments="true" default="false"/>
		<section excludeColumnFrequency="FINANCIAL_YEAR" code="MonthlySpecificIncomeStatement1" description="section_resultspecificationperiodfirst" comments="true" default="false"/>
		<section excludeColumnFrequency="FINANCIAL_YEAR" code="MonthlyIncomeStatement2" description="section_resultperiodsecond" comments="true" default="false"/>
		<section excludeColumnFrequency="FINANCIAL_YEAR" code="MonthlySpecificIncomeStatement2" description="section_resultspecificationperiodsecond" comments="true" default="false"/>
		<section code="NetWorthReconciliation" description="section_reconciliation" comments="true" default="true"/>
	</chapter>

	<chapter id="extendedLiquiditeit" code="blok3" description="chapter_liquidity">
		<section code="CashflowStatement" description="section_cashflowyear" comments="true" default="false"/>
		<section excludeColumnFrequency="FINANCIAL_YEAR" excludeTimebase="FOURWEEKS" code="QuarterlyCashflowStatement1" description="section_cashflowquarterfirst" comments="true" default="false"/>
		<section excludeColumnFrequency="FINANCIAL_YEAR" excludeTimebase="FOURWEEKS" code="QuarterlyCashflowStatement2" description="section_cashflowquartersecond" comments="true" default="false"/>
		<section excludeColumnFrequency="FINANCIAL_YEAR" code="MonthlyCashflowStatement1" description="section_cashflowperiodfirst" comments="true" default="false"/>
		<section excludeColumnFrequency="FINANCIAL_YEAR" code="MonthlyCashflowStatement2" description="section_cashflowperiodsecond" comments="true" default="false"/>
		<section code="InvestmentsAndFinancingPlan" description="section_investfinanceyear" comments="true" default="false"/>
		<section excludeColumnFrequency="FINANCIAL_YEAR" excludeTimebase="FOURWEEKS" code="QuarterlyInvestmentsAndFinancingPlan1" description="section_investfinancequarterfirst" comments="true" default="false"/>
		<section excludeColumnFrequency="FINANCIAL_YEAR" excludeTimebase="FOURWEEKS" code="QuarterlyInvestmentsAndFinancingPlan2" description="section_investfinancequartersecond" comments="true" default="false"/>
		<section excludeColumnFrequency="FINANCIAL_YEAR" code="MonthlyInvestmentsAndFinancingPlan1" description="section_investfinanceperiodfirst" comments="true" default="false"/>
		<section excludeColumnFrequency="FINANCIAL_YEAR" code="MonthlyInvestmentsAndFinancingPlan2" description="section_investfinanceperiodsecond" comments="true" default="false"/>
		<section code="GraphLiquidity" description="section_graphliquidity" comments="true" default="false"/>
		<section code="LiquidityStatement" description="section_liquidityyear" comments="true" default="false"/>
		<section excludeColumnFrequency="FINANCIAL_YEAR" excludeTimebase="FOURWEEKS" code="QuarterlyLiquidityStatement1" description="section_liquidityquarterfirst" comments="true" default="false"/>
		<section excludeColumnFrequency="FINANCIAL_YEAR" excludeTimebase="FOURWEEKS" code="QuarterlyLiquidityStatement2" description="section_liquidityquartersecond" comments="true" default="false"/>
		<section excludeColumnFrequency="FINANCIAL_YEAR" code="MonthlyLiquidityStatement1" description="section_liquidityperiodfirst" comments="true" default="false"/>
		<section excludeColumnFrequency="FINANCIAL_YEAR" code="MonthlyLiquidityStatement2" description="section_liquidityperiodsecond" comments="true" default="false"/>
	</chapter>

	<chapter id="extendedOverige" code="blok4" description="chapter_ratios">
		<section code="GraphROA" description="section_graphROA" comments="true" default="false"/>
		<section code="GraphCustomer" description="section_graphcustomer" comments="true" default="false"/>
		<section code="GraphRate" description="section_graphrate" comments="true" default="false"/>
		<section code="GraphEmployee" description="section_graphemployee" comments="true" default="false"/>
		<section code="GraphRatios" description="section_graphratios" comments="true" default="false"/>
		<section code="GraphSolvency" description="section_graphsolvency" comments="true" default="false"/>
		<section code="Ratios" description="section_ratios" comments="true" default="false"/>
		<section code="MostImportantRatios" description="section_importantratios" comments="true" default="false"/>
	</chapter>

<chapter id="toetsAlgemeen" code="blok0" description="chapter_general">
		<section code="Details" description="section_details" comments="false" default="false"/>
		<section code="Preface" description="section_preface" comments="true" default="false"/>
		<section code="Introduction" description="section_introduction" comments="true" default="true">
      <comments><![CDATA[Onder Wet vereenvoudiging en flexibilisering BV-recht zijn de kapitaalbeschermingsregels voor het bijeenhouden van kapitaal gewijzigd door de introductie van de balanstest en uitkeringstest.

Het bestuur krijgt met deze tests een grote verantwoordelijkheid bij het doen van een uitkering uit het vermogen. Het bestuur stelt met behulp van de balanstest vast dat een voorgenomen uitkering niet leidt tot een eigen vermogen dat kleiner wordt dan de wettelijke en statutaire niet uitkeerbare reserves.

Als de uitkering op grond van de balanstest mogelijk is, wordt de uitkeringstoets uitgevoerd. De uitkeringstest houdt in dat het bestuur beoordeelt of de vennootschap na het doen van een uitkering haar opeisbare schulden kan blijven voldoen. De test geldt voor alle situaties waarin de vennootschap vermogen uitkeert: bij uitkering van winst of reserves, bij terugbetaling op aandelen in het kader van een kapitaalvermindering en bij inkoop van eigen aandelen anders dan om niet.

Komt de vennootschap na de uitkering in ernstige betalingsproblemen, dan zijn de bestuurders die dit op het moment van uitkering wisten of redelijkerwijze behoorden te voorzien tegenover de vennootschap hoofdelijk aansprakelijk voor het tekort dat door de uitkering is ontstaan. Ook de ontvanger van de uitkering die dit op het moment van de uitkering wist of had kunnen voorzien, is aansprakelijk voor het tekort.

Om de uitkeringstest op een juiste manier uit te voeren moet in ieder geval de positie van de vennootschap na de geplande uitkering beoordeeld worden. Hierbij moet u de liquiditeit, de solvabiliteit en de rentabiliteit van de vennootschap beoordelen. Dit rapport geeft u de handvatten om het verloop van deze factoren op jaarbasis en periodebasis te beoordelen.

Aan de hand van de uitkeringstest besluit het bestuur om het voorstel van de algemene vergadering voor het doen van een uitkering wel of niet goed te keuren. Het bestuur moet zijn goedkeuring weigeren als het op grond van de uitkeringstest (redelijk) zeker is dat de vennootschap in toekomstige betalingsproblemen zal komen. Als uit de uitkeringstest blijkt dat de uitkering geoorloofd is, kan het bestuur zijn goedkeuring geven.]]></comments>
		</section>
	</chapter>

	<chapter id="toetsLiquiditeit" code="blok3" description="chapter_liquidity">
				<section code="LiquidityStatement" description="section_liquidityyear" comments="true" default="true"/>
				<section excludeColumnFrequency="FINANCIAL_YEAR" excludeTimebase="FOURWEEKS" code="QuarterlyLiquidityStatement1" description="section_liquidityquarterfirst" comments="true" default="false"/>
				<section excludeColumnFrequency="FINANCIAL_YEAR" excludeTimebase="FOURWEEKS" code="QuarterlyLiquidityStatement2" description="section_liquidityquartersecond" comments="true" default="false"/>
				<section excludeColumnFrequency="FINANCIAL_YEAR" code="MonthlyLiquidityStatement1" description="section_liquidityperiodfirst" comments="true" default="true"/>
				<section excludeColumnFrequency="FINANCIAL_YEAR" code="MonthlyLiquidityStatement2" description="section_liquidityperiodsecond" comments="true" default="true"/>
	</chapter>

	<chapter id="toetsKengetallen" code="blok4" description="chapter_ratios">
				<section code="Ratios" description="section_ratios" comments="true" default="true"/>
	</chapter>

	<chapter id="pvrbAlgemeen" code="blok0" description="chapter_general">
		<section code="Details" description="section_details" comments="false" default="true"/>
		<section code="Preface" description="section_preface" comments="true" default="true"/>
		<section code="TableOfContents" description="section_toc" comments="false" default="true"/>
		<section code="Introduction" description="section_introduction" comments="true" default="false"/>
	</chapter>

	<chapter id="pvVeronderstellingen" code="blok1" description="chapter_assumptions">
		<section code="ProjectionAssumptionsGeneral" description="section_generalassumptions" comments="false" default="true"/>
		<section code="ProjectionAssumptionsBalanceSheet" description="section_balanceassumptions" comments="false" default="true"/>
		<section code="ProjectionAssumptionsIncomeStatement" description="section_resultassumptions" comments="false" default="true"/>
	</chapter>

	<chapter id="realisatieResultatenrekening" code="blok1" description="chapter_result">
		<!--section code="IncomeStatementSummary" description="section_resultsummary" comments="true" default="false"/-->
		<section code="IncomeStatementHeadlines" description="section_compareresultgeneral" comments="true" default="false"/>
		<section code="IncomeStatement" description="section_compareresult" comments="true" default="true"/>
		<section code="IncomeStatementDetail" description="section_compareresultspecific" comments="true" default="false"/>
	</chapter>

	<chapter id="realisatieBalans" code="blok2" description="chapter_balance">
		<!--section code="BalanceSheetSummary" description="section_balancesummary" comments="true" default="false"/-->
		<section code="BalanceSheetHeadlines" description="section_comparebalancegeneral" comments="true" default="false"/>
		<section code="BalanceSheetAssets" description="section_compareassets" comments="true" default="true"/>
		<section code="BalanceSheetEquityAndLiabilities" description="section_compareequity" comments="true" default="true"/>
	</chapter>

	<chapter id="realisatieLiquiditeit" code="blok3" description="chapter_liquidity">
		<!--section code="LiquidityStatementSummary" description="section_liquiditysummary" comments="true" default="false"/-->
		<section code="CashflowStatement" description="section_comparecashflow" comments="true" default="false"/>
		<section code="InvestmentsAndFinancingPlan" description="section_compareinvestfinance" comments="true" default="false"/>
		<section code="LiquidityStatement" description="section_compareliquidity" comments="true" default="false"/>
	</chapter>

	<chapter id="budgetResultatenrekening" code="blok1" description="chapter_result">
		<section code="IncomeStatementSummary" description="section_resultsummary" comments="true" default="false"/>
		<section code="IncomeStatement" description="section_resultyear" comments="true" default="true"/>
		<section excludeColumnFrequency="FINANCIAL_YEAR" excludeTimebase="FOURWEEKS" code="QuarterlyIncomeStatement" description="section_resultquarter" comments="true" default="false"/>
		<section excludeColumnFrequency="FINANCIAL_YEAR" excludeTimebase="FOURWEEKS" code="QuarterlyIncomeStatementDetail" description="section_resultspecificationquater" comments="true" default="false"/>
		<section excludeColumnFrequency="FINANCIAL_YEAR" code="MonthlyIncomeStatement" description="section_resultperiod" comments="true" default="false"/>
		<section excludeColumnFrequency="FINANCIAL_YEAR" code="MonthlyIncomeStatementDetail" description="section_resultspecificationperiod" comments="true" default="false"/>
	</chapter>

	<chapter id="budgetBalans" code="blok2" description="chapter_balance">
		<section code="BalanceSheetSummary" description="section_balancesummary" comments="true" default="false"/>
		<section code="BalanceSheetYears" description="section_balanceyear" comments="true" default="true"/>
		<section excludeColumnFrequency="FINANCIAL_YEAR" excludeTimebase="FOURWEEKS" code="BalanceSheetQuarters" description="section_balancyquarter" comments="true" default="false"/>
		<section excludeColumnFrequency="FINANCIAL_YEAR" code="BalanceSheetMonths" description="section_balanceperiod" comments="true" default="false"/>
	</chapter>

	<chapter id="budgetLiquiditeit" code="blok3" description="chapter_liquidity">
		<section code="LiquidityStatementSummary" description="section_liquiditysummary" comments="true" default="false"/>
		<section code="CashflowStatement" description="section_cashflowyear" comments="true" default="false"/>
		<section excludeColumnFrequency="FINANCIAL_YEAR" excludeTimebase="FOURWEEKS" code="QuarterlyCashflowStatement" description="section_cashflowquarter" comments="true" default="false"/>
		<section excludeColumnFrequency="FINANCIAL_YEAR" code="MonthlyCashflowStatement" description="section_cashflowperiod" comments="true" default="false"/>
		<section code="InvestmentsAndFinancingPlan" description="section_investfinanceyear" comments="true" default="false"/>
		<section excludeColumnFrequency="FINANCIAL_YEAR" excludeTimebase="FOURWEEKS" code="QuarterlyInvestmentsAndFinancingPlan" description="section_investfinancequarter" comments="true" default="false"/>
		<section excludeColumnFrequency="FINANCIAL_YEAR" code="MonthlyInvestmentsAndFinancingPlan" description="section_investfinanceperiod" comments="true" default="false"/>
		<section code="LiquidityStatement" description="section_liquidityyear" comments="true" default="false"/>
		<section excludeColumnFrequency="FINANCIAL_YEAR" excludeTimebase="FOURWEEKS" code="QuarterlyLiquidityStatement" description="section_liquidityquarter" comments="true" default="false"/>
		<section excludeColumnFrequency="FINANCIAL_YEAR" code="MonthlyLiquidityStatement" description="section_liquidityperiod" comments="true" default="false"/>
	</chapter>                                                        
	
	<chapter id="waarderingChapter" code="waardering" description="chapter_waardering">
		<section code="waardering" description="section_waardering" comments="false" default="true"/>
	</chapter>

    <chapter id="financialfactsheetChapter" code="financialfactsheet" description="reporttype_financialfactsheet">
        <section code="financialfactsheetSection" description="reporttype_financialfactsheet" comments="true" default="true"/>
    </chapter>

	<definition id="1" code="5min" description="reporttype_5min" max-columns="6" start-year-selectable="true">
		<chapter-ref id="1.1" ref="5minAlgemeen" default="true"/>
		<chapter-ref id="1.2" ref="5minFinancieel" default="true"/>
		<chapter-ref id="1.3" ref="5minRatios" default="true"/>
		<chapter-ref id="1.4" ref="5minKengetallen" default="true"/>
		<chapter-ref id="1.5" ref="5minOverig" default="true"/>
		<scales>
			<scale default="true" >1</scale>
			<scale>1000</scale>
			<scale>1000000</scale>
		</scales>
		<text code="disclaimer">Behorend bij aanbiedingsbrief d.d. [...]</text>
	</definition>

	<definition id="2" code="extended" description="reporttype_extended" max-columns="6" start-year-selectable="true">
		<chapter-ref id="2.1" ref="extendedAlgemeen" default="true"/>
		<chapter-ref id="2.2" ref="extendedBalans" default="true"/>
		<chapter-ref id="2.3" ref="extendedResultaat" default="true"/>
		<chapter-ref id="2.4" ref="extendedLiquiditeit" default="true"/>
		<chapter-ref id="2.5" ref="extendedOverige" default="true"/>
		<scales>
			<scale default="true" >1</scale>
			<scale>1000</scale>
			<scale>1000000</scale>
		</scales>
		<text code="disclaimer">Behorend bij aanbiedingsbrief d.d. [...]</text>
	</definition>

	<definition id="3" code="prognoseveronderstellingen" description="reporttype_assumptions" max-columns="6" start-year-selectable="true">
		<chapter-ref id="3.1" ref="pvrbAlgemeen" default="true"/>
		<chapter-ref id="3.2" ref="pvVeronderstellingen" default="true"/>
		<scales>
			<scale default="true" >1</scale>
			<scale>1000</scale>
			<scale>1000000</scale>
		</scales>
		<text code="disclaimer">Behorend bij aanbiedingsbrief d.d. [...]</text>
	</definition>

	<definition id="4" code="realisatie" description="reporttype_realisation">
		<chapter-ref id="4.1" ref="pvrbAlgemeen" default="true"/>
		<chapter-ref id="4.2" ref="realisatieResultatenrekening" default="true"/>
		<chapter-ref id="4.3" ref="realisatieBalans" default="true"/>
		<chapter-ref id="4.4" ref="realisatieLiquiditeit" default="true"/>
		<scales>
			<scale default="true" >1</scale>
			<scale>1000</scale>
			<scale>1000000</scale>
		</scales>
		<text code="disclaimer">Behorend bij aanbiedingsbrief d.d. [...]</text>
	</definition>

	<definition id="5" code="budget" description="reporttype_budget">
		<chapter-ref id="5.1" ref="pvrbAlgemeen" default="true"/>
		<chapter-ref id="5.2" ref="budgetResultatenrekening" default="true"/>
		<chapter-ref id="5.3" ref="budgetBalans" default="true"/>
		<chapter-ref id="5.4" ref="budgetLiquiditeit" default="true"/>
		<scales>
			<scale default="true" >1</scale>
			<scale>1000</scale>
			<scale>1000000</scale>
		</scales>
		<text code="disclaimer">Behorend bij aanbiedingsbrief d.d. [...]</text>
	</definition>

 	<definition id="6" code="uitkeringstoets" description="reporttype_dividendtest" max-columns="6" start-year-selectable="true">
		<chapter-ref id="6.1" ref="toetsAlgemeen" default="true"/>
		<chapter-ref id="6.2" ref="toetsLiquiditeit" default="true"/>
		<chapter-ref id="6.3" ref="toetsKengetallen" default="true"/>
		<scales>
			<scale default="true" >1</scale>
			<scale>1000</scale>
			<scale>1000000</scale>
		</scales>
		<text code="disclaimer">Behorend bij aanbiedingsbrief d.d. [...]</text>
	</definition>

	<definition id="7" code="questionnaire-kam" description="KAM" />   
	
	<definition id="8" code="questionnaire-kam_sra" description="KAM_SRA" /> 
	
	<definition id="9" code="waardering" description="reporttype_waardering" max-scenarios="3" max-columns="6" start-year-selectable="true"> 
		<chapter-ref id="9.1" ref="waarderingChapter" default="true"/>
		<scales>
			<scale>1</scale>
			<scale default="true">1000</scale>
			<scale>1000000</scale>
		</scales>
		<text code="disclaimer">geen accountantscontrole toegepast</text>     
	</definition>     
	 
	<definition id="10" code="questionnaire-fam" description="FAM" />

    <definition id="12" code="financialfactsheet" description="reporttype_financialfactsheet" max-columns="3" start-year-selectable="true">
        <chapter-ref id="12.1" ref="financialfactsheetChapter" default="true"/>
        <scales>
            <scale>1</scale>
            <scale default="true">1000</scale>
            <scale>1000000</scale>
        </scales>
    </definition>
</reports>