<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
    <meta charset="UTF-8">
    <title>Chart</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.6/angular.min.js"></script>
    <script src="https://code.highcharts.com/stock/highstock.src.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highcharts-ng/1.1.0/highcharts-ng.min.js"></script>
    <script>
        angular.module('app', ["highcharts-ng"])
            .controller('MainController', function($scope) {
                    $scope.chartConfig = {
                        options: {
                            colors: ['#971a31', '#ffffff'],
                            backgroundColor: '#f1f1f2'
                        },
                        chart: {
                            type: 'pie',
                            height: 60,
                            width: 60
                        },
                        plotOptions: {
                            pie: {
                                borderColor: '#000000',
                                dataLabels: {
                                    enabled: false,
                                    style: {
                                        fontWeight: 'bold',
                                        color: 'white',
                                        textShadow: '0px 1px 2px black',
                                    }
                                },
                                startAngle: -180,
                                endAngle: 180
                            }
                        }, title: {text: undefined},
                        credits: undefined,
                        series: [{
                            type: 'pie',
                            name: 'Loan',
                            innerSize: '30%',
                            data: [
                                ['85% paid', 85],
                                ['15% owed', 15]

                            ]
                        }],
                        loading: false
                    }
                }
            );
    </script>
</head>
<body>
<div ng-controller="MainController" ng-init="DATA = [1,2,3,4]; ROWS=[1,2,3,4]">
    <button ng-click="DATA[2]=10"></button>
    <div>
        <highchart id="donut-chart" config="chartConfig"></highchart>
    </div>
    <div ng-repeat="row in ROWS">
        <highchart id="{{$index}}" config="{
                    chart: {
                        type: 'bar'
                    },
                    series: [{
                        data: DATA,
                        id: 'series1'
                    }],
                    title: {
                        text: 'Hello'
                    }
                }"></highchart>
    </div>

</div>
</body>
</html>
