.w-8em {
    width: 8em
}

.w-100p {
    width: 100%
}

.p-t-0 {
    padding-top: 0 !important
}

.p-b-0 {
    padding-bottom: 0 !important
}

.margin-bottom-1em {
    margin-top: 1em !important
}

.margin-bottom-2em {
    margin-top: 2em !important
}

.margin-bottom-3em {
    margin-top: 3em !important
}

.margin-bottom-4em {
    margin-top: 4em !important
}

.margin-bottom-5em {
    margin-top: 5em !important
}

.margin-bottom-6em {
    margin-top: 6em !important
}

.margin-bottom-7em {
    margin-top: 7em !important
}

.margin-bottom-8em {
    margin-top: 8em !important
}

.margin-bottom-9em {
    margin-top: 9em !important
}

.margin-bottom-10em {
    margin-top: 10em !important
}

.margin-0 {
    margin: 0 !important
}

.m-t-60px {
    margin-top: 60px !important
}

.b-c-t {
    background-color: transparent !important
}

.hidden {
    display: none !important
}

.z-index-1 {
    z-index: 1 !important
}

.ui.teal.label {
    background-color: #d8eded !important;
    border-color: #aec2c3 !important;
    color: #38595a !important
}

.ui.checkbox + label, .ui.checkbox + label:hover, .ui.checkbox label, .ui.checkbox label:hover {
    color: #fff
}

@media only screen and (min-width: 0px) and (max-width: 767px) {
    .mobile-hidden {
        display: none !important
    }
}

@media only screen and (min-width: 768px) {
    .mobile-shown {
        display: none !important
    }
}

.async-hide {
    opacity: 0 !important
}

.content[_ngcontent-c1] {
    overflow-y: scroll;
    overflow-x: inherit;
    height: calc(100vh - 60px);
    margin-top: 60px
}

.ui.top.fixed.menu[_ngcontent-c1] {
    height: 60px
}

.container[_ngcontent-c2] {
    margin-top: 2em;
    margin-bottom: 2em
}

@media only screen and (min-width: 768px) {
    .container[_ngcontent-c2] {
        margin-top: 7em
    }
}

[_nghost-c3] {
    display: block;
}

[_nghost-c4] {
    display: block;
}

.ui.container[_ngcontent-c5] > .ui.stackable.grid[_ngcontent-c5] > .column[_ngcontent-c5], .ui.grid[_ngcontent-c5] > .column[_ngcontent-c5]:not(.row) {
    padding-top: 0 !important;
    padding-bottom: 0 !important
}

@media only screen and (max-width: 767px) {
    .ui.container[_ngcontent-c5] {
        margin-left: 0 !important;
        margin-right: 0 !important
    }

    .email-mobile[_ngcontent-c5] {
        margin-top: 15px
    }
}

.segment[_ngcontent-c5] {
    border-radius: 0;
    border: 0;
    padding-bottom: 2em;
    padding-top: 2em
}

.left-side[_ngcontent-c5] {
    padding-right: 0 !important;
    margin-top: 22em
}

.right-side[_ngcontent-c5] {
    padding-left: 0 !important
}

.extended-height[_ngcontent-c5] {
    height: 16em
}

.ui.computer.only.grid[_ngcontent-c5] {
    margin-top: 0
}

.no-top-padding[_ngcontent-c5] {
    padding-top: 0 !important
}

.bottom-section[_ngcontent-c5] {
    margin-top: -22em;
    margin-left: 1em;
    margin-right: 1em
}

.ui.inverted.orange.segment[_ngcontent-c5], .ui.white.segment[_ngcontent-c5] {
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .13)
}

.ui.inverted.orange.segment[_ngcontent-c5] {
    background: #f4a728 !important;
    border-radius: 3px;
    padding: 20px
}

.rounded[_ngcontent-c5] {
    border-radius: 3px
}

.rounded-top[_ngcontent-c5] {
    border-top-left-radius: 3px;
    border-top-right-radius: 3px
}

.rounded-bottom[_ngcontent-c5] {
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px
}

.ui.inverted.teal.segment[_ngcontent-c5] {
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .13);
    background-color: #edf9f9 !important
}

.ui.inverted.blue.segment[_ngcontent-c5] {
    padding-top: 50px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .13);
    background-color: #38595a !important
}

.triangle-down[_ngcontent-c5]:after {
    z-index: 1;
    content: "";
    position: absolute;
    left: 50%;
    margin-left: -20px;
    margin-top: -20px;
    width: 40px;
    height: 40px;
    background-color: #edf9f9;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    border-bottom-right-radius: 5px
}

.quote[_ngcontent-c5] p[_ngcontent-c5] {
    color: #656565;
    font-style: italic;
    font-size: 18px;
    margin-bottom: 4px
}

.quote[_ngcontent-c5] a.reference[_ngcontent-c5] {
    color: #656565;
    text-decoration: underline;
    font-size: 12px;
    font-weight: 700
}

.quote[_ngcontent-c5] a.reference[_ngcontent-c5] i[_ngcontent-c5] {
    margin-left: 4px
}

.quote[_ngcontent-c5] a.reference[_ngcontent-c5]:hover {
    color: #323232 !important
}

.quote[_ngcontent-c5] a.reference[_ngcontent-c5]:visited {
    color: #656565
}

a[_ngcontent-c5] {
    color: #000;
    text-decoration: underline
}

a[_ngcontent-c5]:hover {
    color: #333 !important
}

a[_ngcontent-c5]:visited {
    color: #000
}

.ui.header[_ngcontent-c6] {
    position: absolute;
    top: 0;
    margin-left: .5em;
    font-size: 44px;
    color: #fff;
    letter-spacing: 0;
    text-shadow: 0 2px 12px rgba(0, 0, 0, .51)
}

@media only screen and (max-width: 767px) {
    .ui.header[_ngcontent-c6] {
        width: 60%;
        float: right;
        font-size: 25px;
        text-align: right;
        color: #fff;
        letter-spacing: 0;
        text-shadow: 0 2px 12px rgba(0, 0, 0, .51);
        right: 40px;
        top: 20px
    }
}

.header-quote[_ngcontent-c7] p[_ngcontent-c7] {
    color: #fff;
    font-style: italic;
    font-size: 18px;
    text-shadow: 0 2px 4px rgba(0, 0, 0, .24);
    margin-bottom: 4px
}

.header-quote[_ngcontent-c7] a.reference[_ngcontent-c7] {
    color: #fff;
    text-decoration: underline;
    font-size: 12px
}

.header-quote[_ngcontent-c7] a.reference[_ngcontent-c7]:hover {
    color: #ccc !important
}

.header-quote[_ngcontent-c7] a.reference[_ngcontent-c7]:visited {
    color: #fff
}

@media only screen and (max-width: 767px) {
    .header-quote[_ngcontent-c7] p[_ngcontent-c7] {
        color: #38595a;
        text-shadow: none
    }

    .header-quote[_ngcontent-c7] a.reference[_ngcontent-c7] {
        color: #38595a;
        font-weight: 700
    }

    .header-quote[_ngcontent-c7] a.reference[_ngcontent-c7]:hover {
        color: #111b1b !important
    }

    .header-quote[_ngcontent-c7] a.reference[_ngcontent-c7]:visited {
        color: #38595a
    }
}

a[_ngcontent-c8] {
    color: #fff;
    text-decoration: underline
}

a[_ngcontent-c8]:hover {
    color: #eee !important
}

a[_ngcontent-c8]:visited {
    color: #fff
}

a[_ngcontent-c9] {
    color: #000 !important;
    text-decoration: underline
}

a[_ngcontent-c9]:hover {
    color: #4d4c4c !important
}

a[_ngcontent-c9]:visited {
    color: #000 !important
}

a[_ngcontent-c10] {
    color: #000 !important;
    text-decoration: underline
}

a[_ngcontent-c10]:hover {
    color: #4d4c4c !important
}

a[_ngcontent-c10]:visited {
    color: #000 !important
}

label.sub[_ngcontent-c10] {
    font-weight: 100 !important
}

.help.circle.icon[_ngcontent-c10] {
    cursor: pointer
}

.indication-label[_ngcontent-c11] {
    color: #38595a;
    font-weight: 700
}

input.interest-rate[_ngcontent-c11] {
    background-color: #1d2d2e;
    color: #fff;
    border-color: #358183
}

input.interest-rate[_ngcontent-c11]::-webkit-input-placeholder {
    color: #fff;
    opacity: .6
}

input.interest-rate[_ngcontent-c11]:-ms-input-placeholder {
    color: #fff;
    opacity: .6
}

input.interest-rate[_ngcontent-c11]::placeholder {
    color: #fff;
    opacity: .6
}

input.interest-rate[_ngcontent-c11]:focus {
    color: #fff;
    background-color: #1d2d2e;
    border-color: #4ab3b6
}

.interest-rate-labeled-right[_ngcontent-c11] {
    color: #fff;
    background-color: #358183
}

.ui.bluecolor.button[_ngcontent-c12] {
    font-size: 15px;
    color: #fff;
    letter-spacing: 0;
    line-height: 20px;
    background: #38595a
}

.ui.bluecolor.button[_ngcontent-c12]:hover {
    background-color: #2e494a
}

.ui.bluecolor.button[_ngcontent-c12]:disabled {
    background-color: #38595a
}

#email-component[_ngcontent-c12], #email-component[_ngcontent-c12] label[_ngcontent-c12] {
    color: #fff;
    font-size: 15px
}

#email-component[_ngcontent-c12] input[_ngcontent-c12] {
    background-color: #ca820a;
    color: #fff;
    border: 0
}

#email-component[_ngcontent-c12] input[_ngcontent-c12]::-webkit-input-placeholder {
    color: #fff;
    opacity: .6
}

#email-component[_ngcontent-c12] input[_ngcontent-c12]:-ms-input-placeholder {
    color: #fff;
    opacity: .6
}

#email-component[_ngcontent-c12] input[_ngcontent-c12]::placeholder {
    color: #fff;
    opacity: .6
}

#email-component[_ngcontent-c12] a[_ngcontent-c12] {
    color: #fff;
    text-decoration: underline
}

#email-component[_ngcontent-c12] a[_ngcontent-c12]:hover {
    color: #eee !important
}

#email-component[_ngcontent-c12] a[_ngcontent-c12]:visited {
    color: #fff
}

#email-component[_ngcontent-c12]   .terms-and-conditions[_ngcontent-c12] {
    font-size: 14px
}

.ui.dimmer[_ngcontent-c13] {
    overflow-y: auto;
}

.scroll[_ngcontent-c13] {
    position: absolute !important;
    margin-top: 3.5rem !important;
    margin-bottom: 3.5rem !important;
    top: 0;
}

.dimmer[_nghost-c14] {
    transition: none;
}