<!DOCTYPE html>
<html lang="en" ng-app="angapp">
<head>
    <!--MANY DROP DOWN -->
    <!--https://stackoverflow.com/questions/12934339/single-dropdown-for-many-items-using-twitter-bootstrap-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Angular DEMO</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/pace/1.0.2/themes/black/pace-theme-flash.min.css">
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pace/1.0.2/pace.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- <link rel="stylesheet" href="/css/AdminLTE.min.css">-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.6/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-filter/0.5.17/angular-filter.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/gitgraph.js/1.11.4/gitgraph.css"/>
    <link rel="stylesheet" type="text/css" href="grid_example.css"/>
    <script src="ace-builds/src-min/ace.js"></script>
    <script src="ace-builds/src-min/ext-language_tools.js"></script>
    <script>
        angular.module('angapp', ['angular.filter']).controller('lmeController', function($scope, $http) {

            var params = window.location.href.split('#')
            if (params.length == 1) window.location.href = '#MVO&DEMO'
            var params = window.location.href.split('#')[1].split('&')
            let modelName = params[0] || 'MVO';

            $scope.changeSearch = function(node) {
                $scope.search = node
            }

            function persist() {
                Pace.start();
                LMEMETA.persistData(function(response) {
                    $scope.$digest()
                });
            }

            $http.get('resources/' + modelName + '.js').then(function(data) {
                eval(data.data)
                //after this we can import the user-data....
                $scope.LME_MODEL = LME.nodes
                $scope.name = LME.name
                $scope.LMEMETA = LMEMETA;
                $scope.saveData = persist
                $scope.search = LME.nodes.Q_MAP00
                LMEMETA.loadData(function(response) {
                    $scope.$digest()//TODO: move into $scope.apply to update the ID hash or something.
                })
            }).catch(function(err) {
                console.error("failed loading " + err);
            });
            $(window).bind('keydown', function(event) {
                if (event.ctrlKey || event.metaKey) {
                    switch (String.fromCharCode(event.which).toLowerCase()) {
                        case 's':
                            event.preventDefault();
                            persist();
                            break;
                    }
                }
            });
            editor = ace.edit("editor");
            var langTools = ace.require("ace/ext/language_tools");
            editor.setTheme("ace/theme/tomorrow");
            editor.resize(true)
            editor.setBehavioursEnabled(true);
            editor.setOptions({
                enableBasicAutocompletion: true,
                enableLiveAutocompletion: true,
                showFoldWidgets: true,
                maxLines: 40,
            });
            editor.$blockScrolling = Infinity
        })

    </script>

</head>
<body ng-controller="lmeController">
<nav class="navbar navbar-fixed-top">
    <div id="header-container" class="container navbar-container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
            </button>
            <a id="brand" class="navbar-brand" href="">
                Figure {{name}}
                <small> Designer ide</small>
            </a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
            </ul>
            <ul class="nav navbar-nav" style="float: right">
                <li>
                    <a ng-click="saveData()" class="toggle-save-btn btn bg-green btn-sm"><i style="font-size: 24px" class="fa fa fa-save"></i></a>
                </li>
            </ul>
        </div><!-- /.nav-collapse -->
    </div><!-- /.container -->
</nav><!-- /.navbar -->
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-2" style="height: 100%;">
            <pre id="editor"></pre>
        </div>
        <div class="col-sm-2">
            <input class="hidden" type="text" ng-model="search" placeholder="Search figure"/>
            <ul class="list-group" ng-repeat="f in LME_MODEL | pick:'children.length > 1 && path.endsWith(\'Q_ROOT\')'" ng-if="f.visible">
                <li class="list-group-item" ng-click="changeSearch(f)" ng-bind="f.title"></li>
            </ul>
        </div>
        <div class="col-sm-7">
            <div class="row">
                <div class="col-sm-12 chop">
                    Titel figure U voert minstens jaarlijks een stakeholderanalyse uit. De uitkomst van deze analyse is vastgelegd in een document dat u onder, in ieder geval, het management van uw bedrijf verspreidt.
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 chop">
                    U voert minstens jaarlijks een stakeholderanalyse uit. De uitkomst van deze analyse is vastgelegd in een document dat u onder, in ieder geval, het management van uw bedrijf verspreidt.
                </div>
                <div class="col-sm-6">
                    één figure Lorum epsulum which has a long text
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 chop">
                    U voert minstens jaarlijks een stakeholderanalyse uit. De uitkomst van deze analyse is vastgelegd in een document dat u onder, in ieder geval, het management van uw bedrijf verspreidt.
                </div>
                <div class="col-sm-2">
                    één figure Lorum x
                </div>
                <div class="col-sm-2">
                    één figure Lorum epsulum
                </div>
                <div class="col-sm-2">
                    één figure Lorum epsulum
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <h3>{{search.title}}</h3>
                </div>
            </div>
            <div class="row" ng-repeat="f in LME_MODEL | fuzzyBy: 'path': search.id | first: 200" ng-if="f.visible" ng-switch="f.type">
                <div class="col-xs-6 ">
                    {{f.title}}
                </div>
                <div ng-repeat="cv in f.cols" class="col-sm-{{2 * (4-(f.cols.length))}} chop">
                    <input class="form-control" ng-model="cv.value">
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
