<!DOCTYPE html>
<html lang="en" ng-app="angapp">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Angular DEMO</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- <link rel="stylesheet" href="/css/AdminLTE.min.css">-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.6/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-filter/0.5.17/angular-filter.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gitgraph.js/1.11.4/gitgraph.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/gitgraph.js/1.11.4/gitgraph.css"/>
    <link rel="stylesheet" type="text/css" href="grid_example.css"/>
    <script>
        angular.module('angapp', ['angular.filter']).controller('lmeController', function($scope, $http) {

            var params = window.location.href.split('#')
            if (params.length == 1) window.location.href = '#MVO&DEMO'
            var params = window.location.href.split('#')[1].split('&')
            let modelName = params[0] || 'MVO';
            let userID = params[1] || 'DEMO'
            let liveUrl = 'transformFFL_LME/' + modelName + '.js'

            var saveToken = userID;
            console.info(saveToken + ':' + modelName)
            $scope.saveData = function(e) {
                //send data to server to store
                $http.post('/id/' + saveToken + '/data', {
                    data: LMEMETA.exportData()
                }).then(function(data) {
                    saveToken = data.data.saveToken;
                    window.location.href = '#' + modelName + '&' + saveToken
                    alert('Success saved data' + JSON.stringify(data))
                }).catch(function(err) {
                    alert('Cannot save data to from [' + '/id/' + saveToken + ']')
                    console.error(err)
                })
            }
            $scope.clicked = function(e) {
                console.info(e)
            }
            $scope.changeSearch = function(node) {
                $scope.search = node.path + '.' + node.id
            }

            function correctFileName(name) {
                return name.replace(/^[^_]+_*([\w]*_\w+)$/gmi, '$1');
            }

            $http.get(liveUrl).then(function(data) {
                eval(data.data)
                //after this we can import the user-data....
                $scope.LME_MODEL = LME.nodes
                $scope.name = LME.name
                $scope.LMEMETA = LMEMETA;
                $http.get('data').then(function(data) {
                    if (!data.data) throw Error('No data in request')
                    console.info(data.data.values)
                    for (var key in data.data.values) {
                        console.info(correctFileName(key))
                        let dataObject = data.data.values[key];
                        console.info(dataObject)
                        console.info(correctFileName(key) + ":" + (parseInt(dataObject.colId) - 2))
                        LME.nodes[correctFileName(key)].cols[parseInt(dataObject.colId) - 2].value = dataObject.value
                    }
                    // LMEMETA.importData(data.data.values)
                }).catch(function(err) {
                    alert('Cannot load saved data. from [' + '/id/' + userID + ']')
                    console.error(err)
                })
            }).catch(function(err) {
                console.info(err);
            });
        })
    </script>

</head>
<body ng-controller="lmeController">
<div class="container">
    <div class="row">
        <section class="content-header">
            <H1>Figure {{name}}
                <small>Preview page</small>
            </H1>
        </section>
        <div class="col-xs-1" ng-controller="graphController">
            <canvas id="gitGraph"></canvas>
            <script src="lmegraph.js"></script>
        </div>
        <div class="col-xs-11">
            <div class="row">
                <div class="col-xs-2">
                    <input class="hidden" type="text" ng-model="search" placeholder="Search figure"/>
                    <ul class="list-group" ng-repeat="f in LME_MODEL | pick:'children.length > 1 && path.endsWith(\'Q_ROOT\')'" ng-if="f.visible">
                        <li class="list-group-item" ng-click="changeSearch(f)" ng-bind="f.title"></li>
                    </ul>
                </div>
                <div class="col-xs-10">
                    <table ng-click="clicked($event)" class="lmetable">
                        <tr ng-repeat="f in LME_MODEL | fuzzyBy: 'path': search | first: 200" ng-if="f.visible">
                            <td><i ng-if="f.tuple" class="fa fa-caret-right"></i></td>
                            <td class="txttd"><span contenteditable="true" ng-bind="f.title" ng-class="'text ' + (f.required?'required':'')"></span></td>
                            <td><i ng-class=" f.hint ? 'fa fa-info' : 'icon' " title="{{f.hint}}">
                            </i></td>
                            <td ng-repeat="cv in f.cols" colspan="{{f.colspan}}" ng-switch="f.type">
                                <div class="input-group" ng-init="pid = $index" ng-class="cv.entered ? 'isentered' : undefined">
                                    <span ng-if="f.type == 'currency'" class="input-group-addon"><i class="fa fa-eur"></i></span>
                                    <select ng-switch-when="select" class="form-control" ng-model="cv.value" ng-readonly="cv.locked" ng-disabled="cv.locked" ng-required="cv.required" placeholder="Pick value">
                                        <option ng-repeat="choice in f.choices" ng-selected="choice.name == cv.value">{{choice.value}}</option>
                                    </select>
                                    <div ng-switch-when="radio" class="btn-group" data-toggle="buttons">
                                        <label class="btn" ng-repeat="choice in f.choices" ng-class="choice.name == cv.value?'active':''">
                                            <input type="radio" name='{{f.id + "-" + pid}}' ng-click="cv.value = choice.name">
                                            <i class="fa fa-circle-o fa-2x"></i><i class="fa fa-check-circle-o fa-2x"></i><span>{{choice.value}}</span>
                                        </label>
                                    </div>
                                    <textarea ng-switch-when="memo" rows="4" class="form-control" ng-readonly="cv.locked" ng-disabled="cv.locked" ng-required="cv.required" ng-model="cv.value"
                                              placeholder=""></textarea>
                                    <input ng-switch-default type="text" class="form-control" ng-readonly="cv.locked" ng-disabled="cv.locked" ng-required="cv.required" ng-model="cv.value" placeholder="">
                                    <span ng-if="$last && f.tuple" class="input-group-addon"><i class="fa fa-plus"></i></span>
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="container">
            <a ng-click="saveData()" class="col-md-12 btn btn-app" data-toggle="modal" data-target="#modal-success">
                <i class="fa fa-save"></i>
                Save
            </a>
        </div>
    </div>
</div>
</body>
</html>
